<nav>
  <div class="logo-name">
    <div class="logo-image">
      <img src="../../../assets/img/logpestañapryect.png" alt="" />
    </div>

    <span class="logo_name">HealthTest</span>
  </div>

  <div class="menu-items">
    <ul class="nav-links">
      <li>
        <a href="#">
          <i class="uil uil-estate"></i>
          <span class="link-name">Dahsboard</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="uil uil-files-landscapes"></i>
          <span class="link-name active">Content</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="uil uil-chart"></i>
          <span class="link-name">Analytics</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="uil uil-thumbs-up"></i>
          <span class="link-name">Like</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="uil uil-comments"></i>
          <span class="link-name">Comment</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="uil uil-share"></i>
          <span class="link-name">Share</span>
        </a>
      </li>
    </ul>

    <ul class="logout-mode">
      <li>
        <a href="#">
          <i class="uil uil-signout"></i>
          <span class="link-name">Logout</span>
        </a>
      </li>

      <li class="mode">
        <a href="#">
          <i class="uil uil-moon"></i>
          <span class="link-name">Dark Mode</span>
        </a>

        <div class="mode-toggle">
          <span class="switch"></span>
        </div>
      </li>
    </ul>
  </div>
</nav>

<section class="dashboard">
  <div class="top">
    <i class="uil uil-bars sidebar-toggle"></i>

    <div class="search-box">
      <i class="uil uil-search"></i>
      <input type="text" placeholder="Search here..." />
    </div>

    <img src="images/profile.jpg" alt="" />
  </div>

  <div class="dash-content">
    <div class="overview">
      <div class="title">
        <i class="fa-solid fa-chart-simple"></i>
        <span class="text" style="color: blue">Reporte de Test</span>
        <span class="text">/ HelthTest</span>
      </div>

      <div class="boxes">
        <div class="box box1">
          <img
            style="width: 8em"
            src="https://www.reshot.com/preview-assets/icons/YMCRPA2F7N/online-tests-YMCRPA2F7N.svg"
          />
          <br />
          <span class="text">Total de Test</span>
          <span class="number">10</span>
        </div>
        <div class="box box2">
          <img
            style="width: 8em"
            src="https://www.reshot.com/preview-assets/icons/B4SCF3YMPT/best-grade-B4SCF3YMPT.svg"
          />
          <br />
          <span class="text">Test de Estrés</span>
          <span class="number">4</span>
        </div>
        <div class="box box3">
          <img
            style="width: 8em"
            src="https://cdn-icons-png.flaticon.com/512/2916/2916270.png"
          />
          <br />
          <span class="text">Total Ansiedad</span>
          <span class="number">3</span>
        </div>
        <div class="box box4">
          <img
            style="width: 8em"
            src="https://cdn-icons-png.flaticon.com/512/9586/9586722.png"
          />
          <br />
          <span class="text">Total de Depresión </span>
          <span class="number">3</span>
        </div>
      </div>
    </div>

    <div class="activity">
      <div class="title">
        <i class="uil uil-clock-three"></i>
        <span class="text">Actividad Reciente </span>
      </div>

      <div class="activity-data">
        <div class="data names">
          <span class="data-title">Name</span>
          <span class="data-list">Prem Shahi</span>
          <span class="data-list">Deepa Chand</span>
          <span class="data-list">Manisha Chand</span>
          <span class="data-list">Pratima Shahi</span>
          <span class="data-list">Man Shahi</span>
          <span class="data-list">Ganesh Chand</span>
          <span class="data-list">Bikash Chand</span>
        </div>
        <div class="data email">
          <span class="data-title">Email</span>
          <span class="data-list">premshahi@gmail.com</span>
          <span class="data-list">deepachand@gmail.com</span>
          <span class="data-list">prakashhai@gmail.com</span>
          <span class="data-list">manishachand@gmail.com</span>
          <span class="data-list">pratimashhai@gmail.com</span>
          <span class="data-list">manshahi@gmail.com</span>
          <span class="data-list">ganeshchand@gmail.com</span>
        </div>
        <div class="data joined">
          <span class="data-title">Joined</span>
          <span class="data-list">2022-02-12</span>
          <span class="data-list">2022-02-12</span>
          <span class="data-list">2022-02-13</span>
          <span class="data-list">2022-02-13</span>
          <span class="data-list">2022-02-14</span>
          <span class="data-list">2022-02-14</span>
          <span class="data-list">2022-02-15</span>
        </div>
        <div class="data type">
          <span class="data-title">Type</span>
          <span class="data-list">New</span>
          <span class="data-list">Member</span>
          <span class="data-list">Member</span>
          <span class="data-list">New</span>
          <span class="data-list">Member</span>
          <span class="data-list">New</span>
          <span class="data-list">Member</span>
        </div>
        <div class="data status">
          <span class="data-title">Status</span>
          <span class="data-list">Liked</span>
          <span class="data-list">Liked</span>
          <span class="data-list">Liked</span>
          <span class="data-list">Liked</span>
          <span class="data-list">Liked</span>
          <span class="data-list">Liked</span>
          <span class="data-list">Liked</span>
        </div>
      </div>
    </div>
  </div>
</section>
