<app-menuansiedad></app-menuansiedad>
<br />
<br />
<br /><br />
<section class="about" id="aboutestres">
  <h1 class="heading"><span>¿Qué es el</span> Ansiedad?</h1>
  <div class="row">
    <div class="image">
      <img
        style="height: 30em"
        src="https://img.freepik.com/free-vector/paranoia-concept-illustration_114360-8027.jpg?w=740&t=st=1675722390~exp=1675722990~hmac=3e96366c7b645c444438d15838df1c4a2f0e884e73a51c12bf5b22ebdcc40e30"
        alt=""
      />
    </div>

    <div class="content">
      <p>
        La ansiedad es una sensación que experimentas cuando estás inquieto
        acerca de algo. Tu cuerpo se pone tenso y tu mente se enfoca en aquello
        que te preocupa, lo que puede hacer que sea difícil enfocarse en algo
        más.
      </p>
      <p>
        También puede afectar tu apetito y dificultar que duermas. Aunque un
        poco de ansiedad puede ser útil, como motivación para estudiar antes de
        un examen, es fácil que se vuelva incontrolable. Si tu ansiedad es tan
        intensa que te impide concentrarte, ya no es útil.
      </p>

      <div class="box-container">
        <div class="box">
          <div class="card-footer">
            <div class="video-container">
              <a class="btn2">
                <span class="btn-text-one">Ver Video</span>
                <span class="btn-text-two">Aprendemos!</span>
              </a>
            </div>
            <div class="popup-video">
              <span class="close" style="right: -22em">&times;</span>
              <video
                src="../../../assets/video/Saludansiedad.mp4"
                muted
                controls
              ></video>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
