<!-- SIDEBAR -->

<!-- SIDEBAR -->

<!-- NAVBAR -->
<section id="content">
  <!-- MAIN -->
  <main>
    <h1 class="title">HealthTest</h1>
    <ul class="breadcrumbs">
      <li><a href="#">Modificar Datos</a></li>
      <li class="divider">/</li>
      <li><a href="#" class="active">HealthTest</a></li>
    </ul>
    <div class="data">
      <div class="content-data">
        <section class="book" id="book">
          <h1 class="heading"><span>Modificar </span>Datos</h1>

          <div class="row" style="width: 55em">
            <form id="form">
              <label style="font-size: 2em; position: relative; right: 11.5em"
                >Id</label
              >
              <input
                type="text"
                name="id"
                [disabled]="true"
                [(ngModel)]="persona.id"
                class="box"
                required
              />
              <label style="font-size: 2em; position: relative; right: 8.2em"
                >Nombre Completo</label
              >
              <input
                type="text"
                name="name"
                [(ngModel)]="persona.name"
                placeholder="Nombre Completo"
                class="box"
                required
              />
              <label style="font-size: 2em; position: relative; right: 10.7em"
                >Usuario</label
              >
              <input
                type="text"
                [(ngModel)]="persona.username"
                name="username"
                placeholder="Usuario"
                class="box"
                required
              />

              <label style="font-size: 2em; position: relative; right: 9em"
                >Tipo de Usuario</label
              >
              <input
                type="text"
                name="tipousuario"
                [disabled]="true"
                [(ngModel)]="persona.tipousuario"
                placeholder="Tipo de Usuario"
                class="box"
                required
              />
              <label style="font-size: 2em; position: relative; right: 8.5em"
                >Correo Electrónico</label
              >
              <input
                type="email"
                [(ngModel)]="persona.email"
                name="email"
                placeholder="Email"
                class="box"
                required
              />
              <button
                style="position: relative; right: 1em; top: 3em"
                class="editarperfil"
                (click)="ActualizarPersona(persona)"
              >
                <svg
                  height="24"
                  width="24"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path d="M0 0h24v24H0z" fill="none"></path>
                  <path
                    d="M5 13c0-5.088 2.903-9.436 7-11.182C16.097 3.564 19 7.912 19 13c0 .823-.076 1.626-.22 2.403l1.94 1.832a.5.5 0 0 1 .095.603l-2.495 4.575a.5.5 0 0 1-.793.114l-2.234-2.234a1 1 0 0 0-.707-.293H9.414a1 1 0 0 0-.707.293l-2.234 2.234a.5.5 0 0 1-.793-.114l-2.495-4.575a.5.5 0 0 1 .095-.603l1.94-1.832C5.077 14.626 5 13.823 5 13zm1.476 6.696l.817-.817A3 3 0 0 1 9.414 18h5.172a3 3 0 0 1 2.121.879l.817.817.982-1.8-1.1-1.04a2 2 0 0 1-.593-1.82c.124-.664.187-1.345.187-2.036 0-3.87-1.995-7.3-5-8.96C8.995 5.7 7 9.13 7 13c0 .691.063 1.372.187 2.037a2 2 0 0 1-.593 1.82l-1.1 1.039.982 1.8zM12 13a2 2 0 1 1 0-4 2 2 0 0 1 0 4z"
                    fill="currentColor"
                  ></path>
                </svg>
                <span>Editar Perfil</span>
              </button>

              <a
                class="noselect"
                style="position: relative; right: -35em"
                href="/psicologo/paginapsicologovisualizarpaciente"
              >
                <span class="text" style="font-size: 1.5em">Volver</span
                ><span class="icon"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                  >
                    <path
                      d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"
                    ></path></svg
                ></span>
              </a>
            </form>
          </div>
        </section>
      </div>
    </div>
    <app-footer></app-footer>
  </main>
  <!-- MAIN -->
</section>
<!-- NAVBAR -->
