<app-menudepresion></app-menudepresion>
<br />
<br />
<br /><br />
<section class="about" id="aboutestres">
  <h1 class="heading"><span>¿Qué es la</span> Depresión?</h1>
  <div class="row">
    <div class="image">
      <img src="../../../assets/img/depression.png" alt="" />
    </div>

    <div class="content">
      <p>
        La depresión es un trastorno mental que causa un persistente estado de
        tristeza, pérdida de interés o placer en actividades que antes se
        disfrutaban, cambios de apetito y sueño, fatiga, dificultad para
        concentrarse y sentimientos de inutilidad y culpa. La depresión puede
        ser grave y afectar significativamente la vida diaria y la capacidad de
        realizar actividades cotidianas. Es importante buscar ayuda médica si se
        experimentan síntomas de depresión.
      </p>
      <p>
        El estrés es una respuesta natural del cuerpo ante situaciones
        percibidas como desafiantes o amenazantes. Esto Puede ser causado por
        eventos externos, como un trabajo exigente o problemas personales, o por
        pensamientos internos, como el miedo o la ansiedad.
      </p>

      <div class="box-container">
        <div class="box">
          <div class="card-footer">
            <div class="video-container">
              <a class="btn2">
                <span class="btn-text-one">Ver Video</span>
                <span class="btn-text-two">Aprendemos!</span>
              </a>
            </div>
            <div class="popup-video">
              <span class="close" style="right: -22em">&times;</span>
              <video
                src="../../../assets/video/depresionSalud.mp4"
                muted
                controls
              ></video>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
