h1 {
  text-align: center;
  color: #333;
}

form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 5px;
}

h2 {
  font-size: 18px;
  color: #666;
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
}
/*Botones*/

.btn {
  padding: 1.1em 2em;
  background: none;
  border: 2px solid #fff;
  font-size: 15px;
  color: #131313;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
  border-radius: 12px;
  background-color: #ecd448;
  font-weight: bolder;
  box-shadow: 0 2px 0 2px #000;
}

.btn:before {
  content: "";
  position: absolute;
  width: 100px;
  height: 120%;
  background-color: #ff6700;
  top: 50%;
  transform: skewX(30deg) translate(-150%, -50%);
  transition: all 0.5s;
}

.btn:hover {
  background-color: #4cc9f0;
  color: #fff;
  box-shadow: 0 2px 0 2px #0d3b66;
}

.btn:hover::before {
  transform: skewX(30deg) translate(150%, -50%);
  transition-delay: 0.1s;
}

.btn:active {
  transform: scale(0.9);
}

/* Multiple Toggle Switch by Abu Shafiyya */
/* Opciones*/

fieldset {
  border: 0;
}

/* Hide default radio */
.radio input[type="radio"] {
  position: absolute;
  visibility: hidden;
  display: none;
  opacity: 0;
  z-index: -1;
}

/* Customizing label */
.radio label {
  position: relative;
  padding: 10px 20px 10px 25px;
  cursor: pointer;
  border-radius: 20px;
  color: #0d3b66;
  margin: 0px 5px;
  font-weight: 600;
  text-transform: uppercase;
}

.radio label,
.radio label::before {
  -webkit-transition: 0.25s all ease;
  transition: 0.25s all ease;
}

.radio label::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  content: " ";
  position: absolute;
  top: 30%;
  left: 0;
  width: 1em;
  height: 1em;
  border: 2px solid #63aae4;
}

.radio input[type="radio"] + label::before {
  border-radius: 1em;
}

/* Checked toggle */
.radio input[type="radio"]:checked + label {
  color: #fff;
  background: #2196f3;
  z-index: 1;
}

.radio input[type="radio"]:checked + label {
  padding: 10px 20px 10px 20px;
}

.radio input[type="radio"]:checked + label::before {
  top: 4px;
  width: 100%;
  height: 2em;
  z-index: -1;
}

.radio:hover input[type="radio"]:checked + label {
  -webkit-box-shadow: #2195f338 0px 0px 0px 25px;
  box-shadow: #2195f338 0px 0px 0px 25px;
}
