<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>HealthTest</title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- ========== Icono de la aplicacion========== -->
    <!-- ========== descarga el css de una pagina web de los card que desplazan y el blog ========== -->
  </head>

  <body>
    <app-menudepresion></app-menudepresion>
    <!-- header section ends -->

    <!-- home section starts  -->

    <section class="home" id="home">
      <div class="image">
        <img src="../../../assets/img/depresion.png" alt="" />
      </div>

      <div class="content">
        <h3>Realizar Test de Depresión</h3>
        <p>
          Realizar un test de Depresión puede ser una excelente forma de conocer
          mejor tu nivel de depresión y cómo afecta a tu vida diaria. Te
          recomiendo que tomes unos minutos para completar el test con
          honestidad y atención. Los resultados te ayudarán a comprender mejor
          tus niveles de depresión y te brindarán herramientas útiles para
          manejarlos de manera efectiva.
          <strong
            >¡No te pierdas la oportunidad de conocerte mejor y de mejorar tu
            bienestar!</strong
          >
        </p>
        <br />
        <a href="#">
          <button class="continue-application">
            <div>
              <div class="pencil"></div>
              <div class="folder">
                <div class="top">
                  <svg viewBox="0 0 24 27">
                    <path
                      d="M1,0 L23,0 C23.5522847,-1.01453063e-16 24,0.44771525 24,1 L24,8.17157288 C24,8.70200585 23.7892863,9.21071368 23.4142136,9.58578644 L20.5857864,12.4142136 C20.2107137,12.7892863 20,13.2979941 20,13.8284271 L20,26 C20,26.5522847 19.5522847,27 19,27 L1,27 C0.44771525,27 6.76353751e-17,26.5522847 0,26 L0,1 C-6.76353751e-17,0.44771525 0.44771525,1.01453063e-16 1,0 Z"
                    ></path>
                  </svg>
                </div>
                <div class="paper"></div>
              </div>
            </div>
            Realizar Test De Depresión
          </button>
        </a>
      </div>
    </section>

    <!-- home section ends -->

    <!-- icons section starts  -->

    <section class="icons-container">
      <div class="icons">
        <img
          style="width: 5em"
          src="https://cdn-icons-png.flaticon.com/512/2194/2194200.png"
        />
        <h4 style="font-size: 1.5rem">“Hoy un lector, mañana un líder.”</h4>
        <p>Margaret Fuller</p>
      </div>

      <div class="icons">
        <img
          style="width: 5em"
          src="https://cdn-icons-png.flaticon.com/512/2826/2826259.png"
        />
        <h4 style="font-size: 1.5rem">
          "No juzgues cada día por lo que cosechas, sino por las semillas que
          plantas."
        </h4>
        <p>Robert Louis Stevenson</p>
      </div>

      <div class="icons">
        <img
          style="width: 5em"
          src="https://cdn-icons-png.flaticon.com/512/3361/3361984.png"
        />
        <h4 style="font-size: 1.5rem">
          "No dejes que lo que no puedes hacer interfiera con lo que puedes
          hacer."
        </h4>
        <p>John R. Wooden</p>
      </div>

      <div class="icons">
        <img
          style="width: 5em"
          src="https://cdn-icons-png.flaticon.com/512/8898/8898432.png"
        />
        <h4 style="font-size: 1.5rem">
          "Nunca se ha logrado nada sin entusiasmo."
        </h4>
        <p>Emerson</p>
      </div>
    </section>

    <!-- icons section ends -->

    <!-- about section starts  -->

    <app-queesdepresion></app-queesdepresion>

    <!-- about section ends -->

    <!-- services section starts  -->

    <section class="services" id="services">
      <h1 class="heading">Nuestros <span>Servicios</span></h1>

      <div class="box-container">
        <div class="box">
          <img style="width: 5em" src="../../../assets/img/list.png" />
          <h3>Test de Estrés</h3>
          <p>
            Está conformada entre 12 a 15 preguntas diferentes esto permitirá
            identificar algunos de los síntomas más comunes del estrés.
          </p>
          <a href="#" class="btn">
            Realizar Test de Estrés <span class="fas fa-chevron-right"></span>
          </a>
        </div>

        <div class="box">
          <img
            style="width: 5em"
            src="https://cdn-icons-png.flaticon.com/512/1739/1739547.png"
          />
          <h3>Test de Ansiedad</h3>
          <p>
            Está conformada entre 12 a 15 preguntas diferentes esto permitirá
            identificar algunos de los síntomas más comunes del estrés.
          </p>
          <a href="#" class="btn">
            Realizar Test de Ansiedad <span class="fas fa-chevron-right"></span>
          </a>
        </div>

        <div class="box">
          <img
            style="width: 5em"
            src="https://cdn-icons-png.flaticon.com/512/9304/9304651.png"
          />
          <h3>Test de Depresión</h3>
          <p>
            Está conformada entre 12 a 15 preguntas diferentes esto permitirá
            identificar algunos de los síntomas más comunes del estrés.
          </p>
          <a href="#" class="btn">
            Realizar Test de Depresión
            <span class="fas fa-chevron-right"></span>
          </a>
        </div>

        <div class="box">
          <img style="width: 5em" src="../../../assets/img/mail.png" />
          <h3>Contactos</h3>
          <p>
            HealthTest recibirá sus opiniones y sugerencias con el propósito de
            optimizar nuestros servicios.
          </p>
          <a href="#book" class="btn">
            Contactar <span class="fas fa-chevron-right"></span>
          </a>
        </div>

        <div class="box">
          <i class="fas fa-user-md"></i>
          <h3>Servicios al Cliente</h3>
          <p>
            Encontrarás a la persona correcta podrás comunicarte con un
            profesional (Psicólogo) para ayudar a tu niño o adolescente que
            buscan orientación en mejorar su desarrollo personal, o necesiten
            apoyo en recuperar su estado de salud.
          </p>
          <a
            href="https://api.whatsapp.com/send/?phone=593984772266&text=Hola%2C+%C2%BFc%C3%B3mo+podemos+ayudarte%3F+Env%C3%ADanos+un+mensaje+&type=phone_number&app_absent=0"
            class="btn"
            target="_blank"
          >
            Haz tu cita <span class="fas fa-chevron-right"></span>
          </a>
        </div>

        <div class="box">
          <i class="fa-solid fa-file-circle-plus"></i>
          <h3>Documentos Adjuntados</h3>
          <p>
            Te damos consejos, sobre cómo ayudar a evitar el estrés o mejorar
            nuestra salud emocional.
          </p>
          <a href="#blogs" class="btn">
            Visualizar <span class="fas fa-chevron-right"></span>
          </a>
        </div>

        <div class="box">
          <img style="width: 5em" src="../../../assets/img/clipboard.png" />
          <h3>Reportes Test de Estrés</h3>
          <p>
            Al tener una cuenta en HealthTest sus pruebas se guardarán. Es
            decir, se podrá visualizar informes de pruebas anteriores.
          </p>
        </div>

        <div class="box">
          <i class="fa-solid fa-universal-access"></i>
          <h3>Accessibility Menu (CTRL+U)</h3>
          <p>
            Mostramos un compromiso con la inclusión por lo cual ofrecemos una
            experiencia totalmente accesible.
          </p>
        </div>
      </div>
    </section>

    <!-- services section ends -->

    <!-- icons section starts  -->

    <!-- review section starts  -->

    <!-- about section starts  -->

    <section class="about" id="about">
      <h1 class="heading"><span>Reserva</span> Tu cita</h1>

      <div class="row">
        <div class="content">
          <h5>Inicia tu terapia psicológica en 3 sencillos pasos</h5>
          <br />
          <img
            style="width: 5em"
            src="https://cdn-icons-png.flaticon.com/512/599/599613.png?w=740&t=st=1673723472~exp=1673724072~hmac=3e166fabd8df80b1575a18adabafe95a6568211980f93113540a9d6b5b422647"
          />
          <h6 style="position: relative; right: -1em">
            Paso 1. Envía un mensaje
          </h6>
          <p>Contáctanos y cuéntanos tus desafíos.</p>
          <br />
          <img
            style="width: 5em"
            src="https://cdn-icons-png.flaticon.com/512/1253/1253821.png?w=740&t=st=1673643420~exp=1673644020~hmac=e97aa5c362ea35fb849a6e41516d7c02ecad983bd384bf6551496a829dcc72bb"
          />
          <h6 style="position: relative; right: -1em">
            Paso 2. Selecciona el Día
          </h6>
          <p>Elige la fecha y hora de tratamiento que más te convenga.</p>
          <br />
          <img
            style="width: 5em"
            src="https://cdn-icons-png.flaticon.com/512/1211/1211794.png"
          />
          <h6 style="position: relative; right: -1em">
            Paso 3. Alcanza la Cima
          </h6>
          <p>
            Seleccionaremos al terapeuta perfecto para guiarte y esperarte en tu
            primera cita.
          </p>
          <a
            href="https://api.whatsapp.com/send/?phone=593984772266&text=Hola%2C+%C2%BFc%C3%B3mo+podemos+ayudarte%3F+Env%C3%ADanos+un+mensaje+&type=phone_number&app_absent=0"
            class="btn"
            target="_blank"
          >
            Haz tu cita <span class="fas fa-chevron-right"></span>
          </a>
        </div>
        <div class="image">
          <img src="../../../assets/img/Cita.svg" alt="" />
        </div>
      </div>
    </section>

    <section class="review" id="review">
      <h1 class="heading">Datos <span>Curiosos</span></h1>

      <div class="box-container">
        <div class="box">
          <div class="card-img">
            <img
              src="https://media.cnnchile.com/sites/2/2018/10/adolescente-durmiendo-740x430.jpg"
              alt=""
            />
          </div>
          <div class="card-info">
            <h3 style="color: black">Dormir</h3>

            <p class="text" style="position: relative; top: -2em">
              Cuando duermes tu cuerpo se repara y elimina la tensión muscular
              causada por el estrés del día. Por eso, una de las consecuencias
              de dormir poco es que el estrés se acumula y duplica. Esto
              ocasiona que sea más difícil enfrentar los retos del día
              siguiente.
            </p>
          </div>
          <div class="card-footer">
            <div class="video-container">
              <a class="btn2">
                <span class="btn-text-one">Ver Video</span>
                <span class="btn-text-two">Aprendemos!</span>
              </a>
            </div>

            <div class="popup-video">
              <span class="close">&times;</span>
              <video
                src="../../../assets/video/sueno_saludmental.mp4"
                muted
                controls
              ></video>
            </div>
          </div>
        </div>
        <div class="box">
          <div class="card-img">
            <img
              style="height: 12.5em"
              src="https://i1.wp.com/lopezdoriga.com/wp-content/uploads/2019/02/video-games.jpg?fit=1200%2C645&ssl=1"
              alt=""
            />
          </div>
          <div class="card-info">
            <h3 style="color: black">Videojuegos</h3>

            <p class="text" style="position: relative; top: -2em">
              La naturaleza competitiva de los videojuegos puede hacernos sentir
              estresados, enojados o frustrados. El uso indiscriminado de los
              videojuegos no solo afectan nuestras habilidades sociales, sino
              que también aumentan los niveles de cortisol, una hormona
              esteroide que es un indicador de estrés.
            </p>
          </div>
          <div class="card-footer">
            <div class="video-container">
              <a class="btn3">
                <span class="btn-text-one">Ver Video</span>
                <span class="btn-text-two">Aprendemos!</span>
              </a>
            </div>

            <div class="popup-video2">
              <span class="close">&times;</span>
              <video
                src="../../../assets/video/AdiccionVideojuegos.mp4"
                muted
                controls
              ></video>
            </div>
          </div>
        </div>

        <div class="box">
          <div class="card-img">
            <img
              style="height: 12.5em"
              src="https://media.lmneuquen.com/p/eac8bbf4c6d6f3cce9fc6b4c27991295/adjuntos/195/imagenes/004/148/0004148682/el-exceso-del-celular-puede-acercar-a-los-jovenes-a-la-depresionjpg.jpg"
              alt=""
            />
          </div>
          <div class="card-info">
            <h3 style="color: black">Celular</h3>

            <p class="text" style="position: relative; top: -2em">
              La adicción a los teléfonos inteligentes predice el desarrollo de
              síntomas depresivos.Por lo cual ha empeorado las relaciones con
              los demás y ha disminuido las habilidades sociales.
            </p>
          </div>
          <div class="card-footer">
            <div class="video-container">
              <a class="btn4">
                <span class="btn-text-one">Ver Video</span>
                <span class="btn-text-two">Aprendemos!</span>
              </a>
            </div>

            <div class="popup-video3">
              <span class="close">&times;</span>
              <video
                src="../../../assets/video/adicconcelular.mp4"
                muted
                controls
              ></video>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- blogs section starts   -->

    <!-- review section ends -->

    <!-- boton que desliza para arriba -->
    <span class="arriba bx bxs-up-arrow"></span>
    <!-- Fin del boton que desliza para arriba -->

    <!-- boton del wassap -->
    <a
      style="top: 13em; right: 0.2em"
      href="https://api.whatsapp.com/send/?phone=593984772266&text=Hola%2C+%C2%BFc%C3%B3mo+podemos+ayudarte%3F+Env%C3%ADanos+un+mensaje+&type=phone_number&app_absent=0"
      class="btn-wsp"
      target="_blank"
    >
      <i class="fa fa-whatsapp icono"></i>
    </a>
    <!-- Fin del boton del wassap -->

    <div class="case-studies-section wf-section">
      <div class="wrapper project-slider">
        <div
          data-delay="4000"
          data-animation="slide"
          class="project-slider w-slider"
          data-autoplay="false"
          data-easing="ease"
          data-hide-arrows="false"
          data-disable-swipe="false"
          data-autoplay-limit="0"
          data-nav-spacing="3"
          data-duration="500"
          data-infinite="true"
        >
          <div class="project-slider-mask w-slider-mask">
            <div class="project-slide w-slide">
              <div class="w-dyn-list">
                <div role="list" class="w-dyn-items">
                  <div role="listitem" class="w-dyn-item">
                    <a class="project-slide-link-block w-inline-block">
                      <div class="project-slider-image-wrapper">
                        <img
                          src="https://vcm.emol.com/wp-content/uploads/2019/01/tomar-agua-wordpress-768x457.jpg"
                          loading="lazy"
                          alt=""
                          sizes="(max-width: 479px) 90vw, (max-width: 767px) 363.578125px, (max-width: 991px) 366.4375px, (max-width: 1279px) 37vw, (max-width: 1439px) 34vw, 486px"
                          class="image"
                        />
                      </div>
                      <div class="project-slider-content">
                        <div class="project-slider-tags-wrapper">
                          <div class="project-slider-tag-text-wrapper">
                            <h6 class="project-slider-tag-text">
                              Hábitos de una vida saludable
                            </h6>
                          </div>
                          <div class="project-slider-tag-text-wrapper">
                            <h6
                              class="project-slider-tag-text w-dyn-bind-empty"
                            ></h6>
                          </div>
                        </div>
                        <div class="project-slider-heading-wrapper">
                          <h5 class="project-slider-heading">
                            El rol del agua para gestionar el estrés
                          </h5>
                        </div>
                        <div class="view-project-div">
                          <div class="text-block _18px">
                            beber agua es una herramienta muy eficiente para
                            calmar ese estado de intranquilidad.
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="project-slide w-slide">
              <div class="w-dyn-list">
                <div role="list" class="w-dyn-items">
                  <div role="listitem" class="w-dyn-item">
                    <a class="project-slide-link-block w-inline-block">
                      <div class="project-slider-image-wrapper">
                        <img
                          src="https://www.tusaladeespera.es/wp-content/uploads/2019/06/dieta-equilibrada_56_1-1024x683.jpg"
                          loading="lazy"
                          alt=""
                          sizes="(max-width: 479px) 90vw, (max-width: 767px) 363.578125px, (max-width: 991px) 366.4375px, (max-width: 1279px) 37vw, (max-width: 1439px) 34vw, 486px"
                          class="image"
                        />
                      </div>
                      <div class="project-slider-content">
                        <div class="project-slider-tags-wrapper">
                          <div class="project-slider-tag-text-wrapper">
                            <h6 class="project-slider-tag-text">
                              Hábitos de una vida saludable
                            </h6>
                          </div>
                        </div>
                        <div class="project-slider-heading-wrapper">
                          <h5 class="project-slider-heading">
                            Crear un plan de alimentación saludable
                          </h5>
                        </div>
                        <div class="view-project-div">
                          <div class="text-block _18px">
                            Proporcionar a tu cuerpo macronutrientes (proteínas,
                            grasas saludables, carbohidratos) le permitirá
                            funcionar correctamente, lo que resultará en un
                            mejor estado de ánimo y rendimiento en el trabajo y
                            en la vida cotidiana.
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="project-slide w-slide">
              <div class="w-dyn-list">
                <div role="list" class="w-dyn-items">
                  <div role="listitem" class="w-dyn-item">
                    <a class="project-slide-link-block w-inline-block">
                      <div class="project-slider-image-wrapper">
                        <img
                          src="http://2.bp.blogspot.com/-AQcqt9Chuyc/Tm-qS54nLfI/AAAAAAAAADk/mTno4pEniWc/s1600/relacion.jpg"
                          loading="lazy"
                          alt=""
                          sizes="(max-width: 479px) 90vw, (max-width: 767px) 363.578125px, (max-width: 991px) 366.4375px, (max-width: 1279px) 37vw, (max-width: 1439px) 34vw, 486px"
                          class="image"
                        />
                      </div>
                      <div class="project-slider-content">
                        <div class="project-slider-tags-wrapper">
                          <div class="project-slider-tag-text-wrapper">
                            <h6 class="project-slider-tag-text">
                              Hábitos de una vida saludable
                            </h6>
                          </div>
                          <div class="project-slider-tag-text-wrapper">
                            <h6
                              class="project-slider-tag-text w-dyn-bind-empty"
                            ></h6>
                          </div>
                        </div>
                        <div class="project-slider-heading-wrapper">
                          <h5 class="project-slider-heading">
                            Rodéate de gente positiva y optimista
                          </h5>
                        </div>
                        <div class="view-project-div">
                          <div class="text-block _18px">
                            Mantener relaciones sanas estimula nuestro estado
                            emocional y potencia nuestro sentido de pertenencia;
                            nos permite intercambiar ideas y expandir nuestra
                            mente a través de las relaciones con los demás.
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="project-slide w-slide">
              <div class="w-dyn-list">
                <div role="list" class="w-dyn-items">
                  <div role="listitem" class="w-dyn-item">
                    <a>
                      <div class="project-slider-image-wrapper">
                        <img
                          src="https://idemsport.com/wp-content/uploads/2020/08/01.jpg"
                          loading="lazy"
                          alt=""
                          sizes="(max-width: 479px) 90vw, (max-width: 767px) 363.578125px, (max-width: 991px) 366.4375px, (max-width: 1279px) 37vw, (max-width: 1439px) 34vw, 486px"
                          class="image"
                        />
                      </div>
                      <div class="project-slider-content">
                        <div class="project-slider-tags-wrapper">
                          <div class="project-slider-tag-text-wrapper">
                            <h6 class="project-slider-tag-text">
                              Hábitos de una vida saludable
                            </h6>
                          </div>
                        </div>
                        <div class="project-slider-heading-wrapper">
                          <h5 class="project-slider-heading">
                            Realizar Deporte
                          </h5>
                        </div>
                        <div class="view-project-div">
                          <div class="text-block _18px">
                            Hacer ejercicio puede mejorar la salud mental
                            ayudando al cerebro a sobrellevar mejor el estrés.
                          </div>
                          <div class="view-project-arrow-wrapper">
                            <img
                              src="https://assets.website-files.com/5fef5619b640934b33c2385e/5ff019fc559a4200eda62273_Vector.svg"
                              loading="lazy"
                              alt=""
                              class="view-project-arrow"
                            />
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="project-slider-left-arrow w-slider-arrow-left">
            <div class="project-slider-arrow-icon-wrapper">
              <img
                src="https://assets.website-files.com/5fef5619b640934b33c2385e/5fef584b6f3b7d0fb04e725e_Vector-4.svg"
                loading="lazy"
                alt=""
                class="image contain"
              />
            </div>
          </div>
          <div class="project-slider-right-arrow w-slider-arrow-right">
            <div class="project-slider-arrow-icon-wrapper">
              <img
                src="https://assets.website-files.com/5fef5619b640934b33c2385e/5fef584a07453d08e05572b5_Vector-3.svg"
                loading="lazy"
                alt=""
                class="image contain"
              />
            </div>
          </div>
          <div class="project-slider-nav w-slider-nav w-round"></div>
        </div>
      </div>
    </div>
    <!-- ========== Inicio del bloG========== -->

    <section class="blog" id="blogs"></section>
    <div class="blog-section wf-section" style="background: #f0e68c">
      <div class="wrapper blog-homepage">
        <div class="blog-heading-and-subtext-wrapper">
          <div class="blog-subtext-wrapper">
            <h6>Blogs</h6>
          </div>
          <div class="blog-heading-wrapper">
            <h2>Ultimos Blogs</h2>
          </div>
          <br />
          <div class="loadindroedor">
            <!-- ========== Roedor ========== -->

            <div
              aria-label="Orange and tan hamster running in a metal wheel"
              role="img"
              class="wheel-and-hamster"
              style="width: 25em; height: 25em"
            >
              <div class="wheel"></div>
              <div class="hamster" style="top: 19em">
                <div class="hamster__body">
                  <div class="hamster__head">
                    <div class="hamster__ear"></div>
                    <div class="hamster__eye"></div>
                    <div class="hamster__nose"></div>
                  </div>
                  <div class="hamster__limb hamster__limb--fr"></div>
                  <div class="hamster__limb hamster__limb--fl"></div>
                  <div class="hamster__limb hamster__limb--br"></div>
                  <div class="hamster__limb hamster__limb--bl"></div>
                  <div class="hamster__tail"></div>
                </div>
              </div>
              <div class="spoke"></div>
            </div>

            <!-- ========== Fin del roedor========== -->
          </div>
        </div>
        <div class="blog-content-wrapper">
          <div class="w-dyn-list">
            <div role="list" class="w-dyn-items">
              <div role="listitem" class="w-dyn-item">
                <a
                  data-w-id="746c52b2-eb33-9827-9714-953f54c5c0c6"
                  href="https://www.anahana.com/es/mental-health/stress-management-for-teens#:~:text=Por%20lo%20tanto%2C%20las%20mejores%20herramientas%20que%20un,comenzar.%20%C2%BFQu%C3%A9%20causa%20la%20ansiedad%20en%20los%20adolescentes%3F"
                  class="blog-section-blog-item-wrapper w-inline-block"
                  target="_blank"
                >
                  <!-- ========== _blank abre otras pestañas ========== -->
                  <div class="blog-item-date-and-time-wrapper">
                    <div>
                      <div class="text-block">Agosto 23, 2021</div>
                    </div>
                  </div>
                  <div class="blog-item-heading-wrapper">
                    <h4>MANEJO DEL ESTRÉS PARA ADOLESCENTES</h4>
                  </div>
                  <div class="blog-item-read-the-article-wrapper">
                    <div class="blog-item-read-the-article-text-wrapper">
                      <div class="text-block">Leer el articulo</div>
                    </div>
                    <div class="blog-item-arrow-wrapper">
                      <i class="fa-solid fa-arrow-right arrowrigtht"></i>
                    </div>
                  </div>
                </a>
              </div>
              <div role="listitem" class="w-dyn-item">
                <a
                  data-w-id="746c52b2-eb33-9827-9714-953f54c5c0c6"
                  href="https://www.biobiochile.cl/noticias/blogs/blog-ubo/2020/12/23/efecto-de-pandemia-de-covid-19-trastorno-de-estres-postraumatico-en-el-cerebro-de-los-adolescentes.shtml"
                  class="blog-section-blog-item-wrapper w-inline-block"
                  target="_blank"
                >
                  <div class="blog-item-date-and-time-wrapper">
                    <div class="blog-item-date-wrapper">
                      <div class="text-block">Diciembre 23, 2020</div>
                    </div>
                    <div class="blog-item-dot"></div>
                    <div class="blog-item-time-wrapper">
                      <div class="text-block">12:28</div>
                    </div>
                  </div>
                  <div class="blog-item-heading-wrapper">
                    <h4>
                      Efecto de pandemia de covid-19: trastorno de estrés
                      postraumático en el cerebro de los adolescentes
                    </h4>
                  </div>
                  <div class="blog-item-read-the-article-wrapper">
                    <div class="blog-item-read-the-article-text-wrapper">
                      <div class="text-block">Leer el articulo</div>
                    </div>
                    <div class="blog-item-arrow-wrapper">
                      <i class="fa-solid fa-arrow-right arrowrigtht"></i>
                    </div>
                  </div>
                </a>
              </div>
              <div role="listitem" class="w-dyn-item">
                <a
                  data-w-id="746c52b2-eb33-9827-9714-953f54c5c0c6"
                  href="https://blog.up.edu.mx/prepaup/femenil/tecnicas-para-combatir-el-estres-en-la-adolescencia"
                  class="blog-section-blog-item-wrapper w-inline-block"
                  target="_blank"
                >
                  <div class="blog-item-date-and-time-wrapper">
                    <div class="blog-item-date-wrapper">
                      <div class="text-block">Mayo 26, 2021</div>
                    </div>
                    <div class="blog-item-dot"></div>
                    <div class="blog-item-time-wrapper">
                      <div class="text-block">15:00</div>
                    </div>
                  </div>
                  <div class="blog-item-heading-wrapper">
                    <h4>Técnicas para combatir el estrés en la adolescencia</h4>
                  </div>
                  <div class="blog-item-read-the-article-wrapper">
                    <div class="blog-item-read-the-article-text-wrapper">
                      <div class="text-block">Leer el articulo</div>
                    </div>
                    <div class="blog-item-arrow-wrapper">
                      <i class="fa-solid fa-arrow-right arrowrigtht"></i>
                    </div>
                  </div>
                </a>
              </div>
              <div role="listitem" class="w-dyn-item">
                <a
                  data-w-id="746c52b2-eb33-9827-9714-953f54c5c0c6"
                  href="https://kidshealth.org/SeattleCH/es/parents/stress.html"
                  class="blog-section-blog-item-wrapper w-inline-block"
                  target="_blank"
                >
                  <div class="blog-item-date-and-time-wrapper">
                    <div class="blog-item-date-wrapper">
                      <div class="text-block">Abril, 2022</div>
                    </div>
                  </div>
                  <div class="blog-item-heading-wrapper">
                    <h4>Estrés infantil: Cómo pueden ayudar los padres</h4>
                  </div>
                  <div class="blog-item-read-the-article-wrapper">
                    <div class="blog-item-read-the-article-text-wrapper">
                      <div class="text-block">Leer el articulo</div>
                    </div>
                    <div class="blog-item-arrow-wrapper">
                      <i class="fa-solid fa-arrow-right arrowrigtht"></i>
                    </div>
                  </div>
                </a>
              </div>
              <div role="listitem" class="w-dyn-item">
                <a
                  data-w-id="746c52b2-eb33-9827-9714-953f54c5c0c6"
                  href="https://www.elesquiu.com/curiosidades/2022/12/31/estres-actividades-que-ayudan-superarlo-460982.html"
                  class="blog-section-blog-item-wrapper w-inline-block"
                  target="_blank"
                >
                  <div class="blog-item-date-and-time-wrapper">
                    <div class="blog-item-date-wrapper">
                      <div class="text-block">Diciembre 31, 2022</div>
                    </div>
                  </div>
                  <div class="blog-item-heading-wrapper">
                    <h4>Estrés: 6 actividades que ayudan a superarlo</h4>
                  </div>
                  <div class="blog-item-read-the-article-wrapper">
                    <div class="blog-item-read-the-article-text-wrapper">
                      <div class="text-block">Leer el articulo</div>
                    </div>
                    <div class="blog-item-arrow-wrapper">
                      <i class="fa-solid fa-arrow-right arrowrigtht"></i>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- FIN DEL BLOG  -->

    <!-- doctors section starts  -->

    <section class="doctors" id="doctors">
      <h1 class="heading"><span>Creadores</span></h1>
      <h3 class="heading">¡Hola Nos Presentamos!</h3>

      <div class="box-container">
        <div class="box">
          <img src="../../../assets/img/FotoPerfilDonald.png" alt="" />
          <h3>Donald David Silva Sánchez</h3>
          <span>Desarrollador</span>
          <div class="share">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-linkedin"></a>
          </div>
        </div>

        <div class="box">
          <img src="../../../assets/img/Perfilelvis.png" alt="" />
          <h3>Elvis Luis Gonzales Acosta</h3>
          <span>Desarrollador</span>
          <div class="share">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-linkedin"></a>
          </div>
        </div>
      </div>
    </section>

    <!-- doctors section ends -->

    <!-- booking section starts   -->

    <section class="book" id="book">
      <h1 class="heading"><span>Contacta Con</span> Nosotros</h1>

      <div class="row">
        <div class="image">
          <img src="../../../assets/img/contactus.png" alt="" />
        </div>

        <form id="form">
          <h3>Nos Encantan Las Conversaciones, Hablemos.</h3>
          <input
            type="text"
            name="from_name"
            id="from_name"
            placeholder="Nombre Completo"
            class="box"
            required
          />
          <input
            type="number"
            name="phone"
            id="phone"
            placeholder="Numero de Telefono"
            class="box"
            required
          />
          <input
            type="email"
            name="email_id"
            id="email_id"
            placeholder="Email"
            class="box"
            required
          />
          <textarea
            class="box"
            name="message"
            name="message"
            id="message"
            cols="30"
            rows="5"
            placeholder="Ingresa Tu Mensaje"
          ></textarea>
          <button>
            <span class="shadow"></span>
            <span class="edge"></span>
            <span class="front text">
              <input type="submit" class="front" id="button" value="Enviar" />
              <i class="fa-solid fa-message"></i
            ></span>
          </button>
        </form>
      </div>
    </section>

    <!-- booking section ends -->
    <app-footer></app-footer>

    <!-- footer section ends -->
  </body>
</html>
