<app-menuestres></app-menuestres>
<section class="services" id="services">
  <br /><br /><br /><br />
  <h1 class="heading">Síntomas <span>del estrés </span></h1>
  <h6>En una etapa estresante, generalmente ocurren ocho tipos de síntomas:</h6>
  <br />
  <br />
  <div class="box-container">
    <div class="box">
      <img
        style="width: 15em"
        src="https://img.freepik.com/free-photo/senior-woman-with-medical-problems_23-2148490087.jpg?w=826&t=st=1675691593~exp=1675692193~hmac=439cadaf57df60c9b00922922e34535ab499c671f274bc29b06ab553e2993ef5"
      />
      <h3>Dolor de cuello</h3>
      <p>
        "El dolor en el cuello es un indicador frecuente del estrés, ya que la
        tensión en los músculos causan dicho malestar. Es común que este se
        propague hasta los hombros y la cabeza."
      </p>
    </div>

    <div class="box">
      <img style="width: 10em" src="../../../assets/img/extremidades.png" />
      <h3>Dolor en las extremidades</h3>
      <p>
        "El estrés activa el sistema de alerta del cuerpo, lo que resulta en
        tensión en todo el cuerpo. La concentración de glucosa en las
        extremidades puede causar una sensación de pesadez y fatiga en los
        brazos y piernas. Por esta razón, el dolor en las extremidades está
        asociado con el estrés."
      </p>
    </div>

    <div class="box">
      <img
        style="width: 13em"
        src="https://img.freepik.com/free-vector/tired-employee-exhausted-with-work_74855-4820.jpg?w=740&t=st=1675694249~exp=1675694849~hmac=1c85ba5ed9859765d1478f86e0a8090e07b79aa64071efa3e6a22fc1f4763f20"
      />
      <h3>Cansancio</h3>
      <p>
        " Cuando el cuerpo está en modo de alerta debido al estrés, invierte una
        gran cantidad de energía. Debido a que no puede mantenerse en este
        estado por períodos prolongados, se produce fatiga y agotamiento."
      </p>
    </div>

    <div class="box">
      <img
        style="width: 12em"
        src="https://img.freepik.com/free-vector/sick-character-stomach-ache_1284-3873.jpg?w=740&t=st=1675695757~exp=1675696357~hmac=b3c522453496f62762d476ad3f6c920a6bcc11b2fd69115a76534b6976a43c41"
      />
      <h3>Dolor de estómago</h3>
      <p>
        "Algunas personas pueden experimentar una digestión lenta, lo que
        conduce a hinchazón, dolor y estreñimiento. Otros, en cambio, pueden
        experimentar una digestión acelerada y diarrea. El estrés hace que la
        sangre se aleje del área del estómago, lo que reduce los mecanismos
        digestivos y puede causar problemas digestivos y desagrado."
      </p>
    </div>

    <div class="box">
      <img
        style="width: 13em"
        src="https://img.freepik.com/free-vector/dry-lips-illustration_98292-1859.jpg?w=740&t=st=1675696173~exp=1675696773~hmac=56ea7e0c0dee559a2b1708b029631e588a87d2e1df20e84ff3b83fd8e8168787"
      />
      <h3>Boca seca</h3>
      <p>
        "La sequedad en la boca es un indicador del estrés que está
        estrechamente relacionado con la ansiedad. La cantidad de saliva en la
        boca puede disminuir si alguien experimenta ansiedad, preocupación o
        estrés."
      </p>
    </div>

    <div class="box">
      <img
        style="width: 13em"
        src="https://img.freepik.com/free-vector/dizzy-face-concept-illustration_114360-8779.jpg?w=740&t=st=1675696438~exp=1675697038~hmac=4e9ee8ca6feadd05eca681c21f507e8172f4681c007da3b329adf5573065c23e"
      />
      <h3>Mareo</h3>
      <p>
        "El estrés afecta la forma en que se respira. Hace que las inhalaciones
        sean superficiales y, como resultado, el cerebro no recibe la cantidad
        adecuada de oxígeno. Esto puede causar mareo y una sensación de
        desorientación."
      </p>
    </div>

    <div class="box">
      <img
        style="width: 12em"
        src="https://img.freepik.com/free-vector/coughing-man-with-coronavirus_23-2148491600.jpg?w=740&t=st=1675696675~exp=1675697275~hmac=3ba3fb4966757abc3ff7dbb92bdcaffddffd1168c09c845a767ba96032c24019"
      />
      <h3>Gripe y resfriado</h3>
      <p>
        "El estrés debilita el sistema inmunológico, lo que hace que una persona
        sea más susceptible a enfermedades como el resfriado, la gripe y
        COVID-19. Por esta razón, muchos expertos recomiendan evitar el estrés o
        encontrar maneras de tratarlo para prevenir ser afectados por virus y
        bacterias que pueden afectar al cuerpo."
      </p>
    </div>

    <div class="box">
      <img
        style="width: 12em"
        src="https://img.freepik.com/free-vector/hypertension-abstract-concept-illustration-cardiological-problem-high-blood-pressure-measuring-device-cholesterol-level-diagnostic-hypertension-cause-ambulance_335657-3404.jpg?w=740&t=st=1675696806~exp=1675697406~hmac=653061e5c6268b7441ec2d0315800c84ce7b0ab7012266b0054890f798a5556b"
      />
      <h3>Enfermedades cardiacas</h3>
      <p>
        "El estrés activa el modo de alerta del cuerpo, lo que provoca la
        liberación de adrenalina, la aceleración de la respiración, frecuencia
        cardíaca y presión arterial. Si hay estrés continuo y el corazón trabaja
        más de lo normal, puede ocurrir una enfermedad cardiovascular,
        incluyendo ataques cardíacos o derrames cerebrales. Esto puede empeorar
        si la persona busca refugio en el alcohol, drogas o comida para manejar
        el estrés."
      </p>
    </div>
  </div>
</section>
