<app-menuansiedad></app-menuansiedad>

<br />
<br /><br /><br />
<section class="about" id="about">
  <h1 class="heading"><span>Como prevenir</span> la ansiedad</h1>

  <div class="row">
    <div class="content">
      <img
        style="width: 5em"
        src="https://cdn-icons-png.flaticon.com/512/1373/1373093.png"
      />
      <h6 style="position: relative; right: -1em">Paso 1. Oremos</h6>
      <p>
        Siempre que empecemos a sentir ansiedad, podemos orar a Jehová para que
        nos ayude a saber qué hacer. Si le hacemos una oración larga y le
        contamos todo lo que nos preocupa, nos sentiremos aliviados.
      </p>
      <br />
      <img
        style="width: 5em"
        src="https://cdn-icons-png.flaticon.com/512/3590/3590425.png"
      />
      <h6 style="position: relative; right: -1em">Paso 2. Meditemos</h6>
      <p>
        Al mirar atrás en su vida, ¿recuerda momentos en los que no hubiera
        podido aguantar sin la ayuda de Jehová? Cuando meditamos en cómo Jehová
        ayudó a sus siervos del pasado y cómo nos ha ayudado a nosotros también,
        confiamos más en él y nos sentimos más tranquilos
      </p>
      <br />
      <img
        style="width: 5em"
        src="https://cdn-icons-png.flaticon.com/512/8933/8933275.png"
      />
      <h6 style="position: relative; right: -1em">Paso 3. Actuemos</h6>
      <p>
        Antes de decidir lo que vamos a hacer en una situación, podemos acudir a
        la Biblia, que es la mejor guía que existe.
      </p>
      <a
        href="https://www.jw.org/es/biblioteca/revistas/atalaya-estudio-abril-2022/C%C3%B3mo-controlar-la-ansiedad/#:~:text=Siempre%20que%20empecemos%20a%20sentir%20ansiedad%2C%20podemos%20orar,la%20%C3%BAnica%20opci%C3%B3n%20que%20tenemos%20en%20ese%20momento."
        class="btn"
        target="_blank"
      >
        Leer Más <span class="fas fa-chevron-right"></span>
      </a>
    </div>
    <div class="image">
      <img
        src="https://img.freepik.com/free-vector/no-means-no-concept_52683-41018.jpg?w=740&t=st=1675802769~exp=1675803369~hmac=f2d29a21d415858538af07be158027bb0b24ec2b3cbdffd69f3095eed52d7962"
        alt=""
      />
    </div>
  </div>
</section>
