<!-- SIDEBAR -->
<app-menuadmin></app-menuadmin>

<!-- SIDEBAR -->

<!-- NAVBAR -->
<section id="content">
  <!-- NAVBAR -->
  <nav>
    <i class="bx bx-menu toggle-sidebar"></i>
    <form action="#">
      <div class="form-group">
        <input type="text" placeholder="Search..." />
        <i class="bx bx-search icon"></i>
      </div>
    </form>
    <a href="#" class="nav-link">
      <i class="bx bxs-bell icon"></i>
      <span class="badge">5</span>
    </a>
    <a href="#" class="nav-link">
      <i class="bx bxs-message-square-dots icon"></i>
      <span class="badge">8</span>
    </a>
    <span class="divider"></span>
    <div class="profile">
      <img
        src="https://images.unsplash.com/photo-1517841905240-472988babdf9?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8cGVvcGxlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
        alt=""
      />
      <ul class="profile-link">
        <li>
          <a href="/perfiladmin"
            ><i class="bx bxs-user-circle icon"></i>Editar Perfil</a
          >
        </li>
        <li>
          <a href="#"><i class="bx bxs-cog"></i> Settings</a>
        </li>
        <li>
          <a href="#"><i class="bx bxs-log-out-circle"></i>Cerrar Sesión</a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- NAVBAR -->

  <!-- MAIN -->
  <main>
    <h1 class="title">HealthTest</h1>
    <ul class="breadcrumbs">
      <li><a href="#">Home</a></li>
      <li class="divider">/</li>
      <li><a href="#" class="active">HealthTest</a></li>
    </ul>
    <div class="data">
      <div class="content-data">
        <section class="home" id="home">
          <br />
          <div class="image">
            <img
              style="width: 41em"
              src="../../../assets/img/Logo3PrName.png"
              alt=""
            />
          </div>
          <br />
        </section>
      </div>
      <div class="content-data">
        <div class="head">
          <h3>¡Bienvenido a HealthTest, Administrador!</h3>
        </div>
        <div class="chat-box">
          <p class="day"><span>Hoy</span></p>
          <div class="msg me">
            <div class="chat">
              <br />
              <p style="background: #ffba08">
                Estamos encantados de tenerlo como parte de nuestro equipo.
                Esperamos que encuentre su trabajo en la aplicación gratificante
                y desafiante.
              </p>
            </div>
          </div>
          <div class="msg me">
            <div class="chat">
              <br />

              <p style="background: #ffba08">
                Si tiene alguna pregunta o necesita ayuda en cualquier momento,
                no dude en ponerse en contacto con nosotros.
              </p>
            </div>
          </div>
          <div class="msg me">
            <div class="chat">
              <div class="profile">
                <br />
              </div>
              <p style="background: #ffba08">
                <strong>
                  ¡Gracias por unirse a nuestro equipo y esperamos trabajar
                  juntos para lograr grandes cosas!
                </strong>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </main>
  <!-- MAIN -->
</section>
<!-- NAVBAR -->
