<!-- SIDEBAR -->
<section id="sidebar">
  <a href="#" class="brand">
    <img
      style="width: 3em"
      src="../../../assets/img/logpestañapryect.png"
      alt=""
    />HealthTest</a
  >
  <ul class="side-menu">
    <li>
      <a href="/paginaadmin" class="active" style="font-size: 2em"
        ><i class="bx bxs-dashboard icon"></i> Home</a
      >
    </li>
    <li class="divider" data-text="main">Main</li>
    <li>
      <a href="#"
        ><i class="fa-solid fa-user icon"></i> Usuarios
        <i class="bx bx-chevron-right icon-right"></i
      ></a>
      <ul class="side-dropdown">
        <li><a href="#">Administrador</a></li>
        <li><a href="#">Psicólogo</a></li>
        <li><a href="#">Paciente</a></li>
        <li>
          <a href="/estadisticasuser">Estadistica de Usuarios</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#"><i class="fa-solid fa-user icon"></i>Editar Perfil</a>
    </li>
    <li>
      <a href="#"
        ><i class="fa-solid fa-book-bookmark icon"></i>
        Tests
        <i class="bx bx-chevron-right icon-right"></i
      ></a>
      <ul class="side-dropdown">
        <li><a href="#">Crear Test</a></li>
        <li>
          <a href="#">Visualizar Test de Estrés</a>
        </li>
        <li><a href="#">Visualizar Test de Ansiedad</a></li>
        <li><a href="#">Visualizar Test de Depresión </a></li>
        <li><a href="/estadisticatest">Estadistica de Tests</a></li>
      </ul>
    </li>
    <li>
      <a href="/contactanosadmin">
        <i class="fa-solid fa-phone-volume icon"></i>Contactanos</a
      >
    </li>
  </ul>
  <div class="ads">
    <div class="wrapper">
      <a href="#" class="btn-upgrade">cerrar sesión</a>
      <p>
        Become a <span>PRO</span> member and enjoy <span>All Features</span>
      </p>
    </div>
  </div>
</section>

<!-- SIDEBAR -->

<!-- NAVBAR -->
<section id="content">
  <!-- NAVBAR -->
  <nav>
    <i class="bx bx-menu toggle-sidebar"></i>
    <form action="#">
      <div class="form-group">
        <input type="text" placeholder="Search..." />
        <i class="bx bx-search icon"></i>
      </div>
    </form>
    <a href="#" class="nav-link">
      <i class="bx bxs-bell icon"></i>
      <span class="badge">5</span>
    </a>
    <a href="#" class="nav-link">
      <i class="bx bxs-message-square-dots icon"></i>
      <span class="badge">8</span>
    </a>
    <span class="divider"></span>
    <div class="profile">
      <img
        src="https://images.unsplash.com/photo-1517841905240-472988babdf9?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8cGVvcGxlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
        alt=""
      />
      <ul class="profile-link">
        <li>
          <a href="/perfiladmin"
            ><i class="bx bxs-user-circle icon"></i>Editar Perfil</a
          >
        </li>
        <li>
          <a href="#"><i class="bx bxs-cog"></i> Settings</a>
        </li>
        <li>
          <a href="#"><i class="bx bxs-log-out-circle"></i>Cerrar Sesión</a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- NAVBAR -->

  <!-- MAIN -->
  <main>
    <h1 class="title">HealthTest</h1>
    <ul class="breadcrumbs">
      <li><a href="#">Contactanos</a></li>
      <li class="divider">/</li>
      <li><a href="#" class="active">HealthTest</a></li>
    </ul>
    <div class="data">
      <div class="content-data">
        <section class="book" id="book">
          <h1 class="heading"><span>Contacta Con</span> Nosotros</h1>

          <div class="row">
            <div class="image">
              <img
                src="https://img.freepik.com/free-vector/organic-flat-customer-support-illustration_23-2148899134.jpg?w=740&t=st=1676157503~exp=1676158103~hmac=29a5c3f74d321e89c3a4ff6daf1f3b29e90f7ca5d927b066e324df6094ebacf9"
                alt=""
              />
            </div>

            <form id="form">
              <h3>Nos Encantan Las Conversaciones, Hablemos.</h3>
              <input
                type="text"
                name="from_name"
                id="from_name"
                placeholder="Nombre Completo"
                class="box"
                required
              />
              <input
                type="number"
                name="phone"
                id="phone"
                placeholder="Numero de Telefono"
                class="box"
                required
              />
              <input
                type="email"
                name="email_id"
                id="email_id"
                placeholder="Email"
                class="box"
                required
              />
              <textarea
                class="box"
                name="message"
                name="message"
                id="message"
                cols="30"
                rows="5"
                placeholder="Ingresa Tu Mensaje"
              ></textarea>
              <button>
                <span class="shadow"></span>
                <span class="edge"></span>
                <span class="front text">
                  <input
                    type="submit"
                    class="front"
                    id="button"
                    value="Enviar" />
                  <i class="fa-solid fa-message"></i
                ></span>
              </button>
            </form>
          </div>
        </section>
      </div>
    </div>
    <app-footer></app-footer>
  </main>
  <!-- MAIN -->
</section>
<!-- NAVBAR -->
