<section id="sidebar">
  <a href="#" class="brand">
    <img
      style="width: 3em"
      src="../../../assets/img/logpestañapryect.png"
      alt=""
    />HealthTest</a
  >
  <ul class="side-menu">
    <li>
      <a href="/paginaadmin" class="active" style="font-size: 2em"
        ><i class="bx bxs-dashboard icon"></i> Home</a
      >
    </li>
    <li class="divider" data-text="main">Main</li>
    <li>
      <a href="#"
        ><i class="fa-solid fa-user icon"></i> Usuarios
        <i class="bx bx-chevron-right icon-right"></i
      ></a>
      <ul class="side-dropdown">
        <li><a href="#">Administrador</a></li>
        <li><a href="#">Psicólogo</a></li>
        <li><a href="#">Paciente</a></li>
        <li>
          <a href="/estadisticasuser">Estadistica de Usuarios</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="/perfiladmin"
        ><i class="fa-solid fa-user icon"></i>Editar Perfil</a
      >
    </li>
    <li>
      <a href="#"
        ><i class="fa-solid fa-book-bookmark icon"></i> Tests
        <i class="bx bx-chevron-right icon-right"></i
      ></a>
      <ul class="side-dropdown">
        <li><a href="#">Crear Test</a></li>
        <li>
          <a href="#">Visualizar Test de Estrés</a>
        </li>
        <li><a href="#">Visualizar Test de Ansiedad</a></li>
        <li><a href="#">Visualizar Test de Depresión </a></li>
        <li><a href="/estadisticatest">Estadistica de Tests</a></li>
      </ul>
    </li>
    <li>
      <a href="/contactanosadmin">
        <i class="fa-solid fa-phone-volume icon"></i>Contactanos</a
      >
    </li>
  </ul>
  <div class="ads">
    <div class="wrapper">
      <a href="#" class="btn-upgrade">cerrar sesión</a>
      <p>
        Become a <span>PRO</span> member and enjoy <span>All Features</span>
      </p>
    </div>
  </div>
</section>
