<app-menuestres></app-menuestres> <br /><br /><br /><br />
<section class="about" id="about">
  <h1 class="heading"><span>¿El estrés es </span> siempre malo?</h1>

  <div class="row">
    <div class="content">
      <p>
        No todo el estrés es malo. De hecho, puede ayudarle a sobrevivir en una
        situación peligrosa. Por ejemplo, un tipo de estrés es el susto que
        puede sentir cuando un automóvil se detiene repentinamente frente a
        usted.
      </p>
      <p>
        Esta alza de hormonas le ayuda a detenerse rápidamente para evitar un
        accidente. En ocasiones, un poco de estrés a corto plazo puede resultar
        útil.
      </p>
      <p>
        Por ejemplo, el estrés de tener una fecha límite para la escuela o su
        trabajo puede empujarle a terminar su trabajo a tiempo. Una vez que lo
        termina, ese estrés desaparece.
      </p>
    </div>
    <div class="image">
      <img
        style="height: 30em"
        src="../../../assets/img/pngscared.png"
        alt=""
      />
    </div>
  </div>
</section>
