<!-- ========== Inicio del bloG========== -->
<app-menuansiedad></app-menuansiedad>
<br /><br />

<section class="blog" id="blogs"></section>
<div class="blog-section wf-section" style="background: #f0e68c">
  <div class="wrapper blog-homepage">
    <div class="blog-heading-and-subtext-wrapper">
      <div class="blog-subtext-wrapper">
        <h6>Blogs</h6>
      </div>
      <div class="blog-heading-wrapper">
        <h2>Ultimos Blogs</h2>
      </div>
      <br />
      <div class="loadindroedor">
        <!-- ========== Roedor ========== -->

        <div
          aria-label="Orange and tan hamster running in a metal wheel"
          role="img"
          class="wheel-and-hamster"
          style="width: 25em; height: 25em"
        >
          <div class="wheel"></div>
          <div class="hamster" style="top: 19em">
            <div class="hamster__body">
              <div class="hamster__head">
                <div class="hamster__ear"></div>
                <div class="hamster__eye"></div>
                <div class="hamster__nose"></div>
              </div>
              <div class="hamster__limb hamster__limb--fr"></div>
              <div class="hamster__limb hamster__limb--fl"></div>
              <div class="hamster__limb hamster__limb--br"></div>
              <div class="hamster__limb hamster__limb--bl"></div>
              <div class="hamster__tail"></div>
            </div>
          </div>
          <div class="spoke"></div>
        </div>

        <!-- ========== Fin del roedor========== -->
      </div>
    </div>
    <div class="blog-content-wrapper">
      <div class="w-dyn-list">
        <div role="list" class="w-dyn-items">
          <div role="listitem" class="w-dyn-item">
            <a
              data-w-id="746c52b2-eb33-9827-9714-953f54c5c0c6"
              href="https://www.infobae.com/salud/2023/01/05/la-actividad-fisica-reduce-la-ansiedad-y-depresion-en-ninos-y-adolescentes/"
              class="blog-section-blog-item-wrapper w-inline-block"
              target="_blank"
            >
              <!-- ========== _blank abre otras pestañas ========== -->
              <div class="blog-item-date-and-time-wrapper">
                <div class="blog-item-date-wrapper">
                  <div class="text-block">Febrero 6, 2023</div>
                </div>
              </div>

              <div class="blog-item-heading-wrapper">
                <h4>
                  La actividad física reduce la ansiedad y depresión en niños y
                  adolescentes
                </h4>
              </div>
              <div class="blog-item-read-the-article-wrapper">
                <div class="blog-item-read-the-article-text-wrapper">
                  <div class="text-block">Leer el articulo</div>
                </div>
                <div class="blog-item-arrow-wrapper">
                  <i class="fa-solid fa-arrow-right arrowrigtht"></i>
                </div>
              </div>
            </a>
          </div>
          <div role="listitem" class="w-dyn-item">
            <a
              data-w-id="746c52b2-eb33-9827-9714-953f54c5c0c6"
              href="https://www.directoalpaladar.com.mx/salud-y-nutricion/trucos-expertos-para-evitar-comer-ansiedad-evitar-aumento-peso"
              class="blog-section-blog-item-wrapper w-inline-block"
              target="_blank"
            >
              <div class="blog-item-date-and-time-wrapper">
                <div class="blog-item-date-wrapper">
                  <div class="text-block">Enero 19, 2020</div>
                </div>
                <div class="blog-item-dot"></div>
                <div class="blog-item-time-wrapper">
                  <div class="text-block">12:28</div>
                </div>
              </div>
              <div class="blog-item-heading-wrapper">
                <h4>
                  Trucos de expertos para evitar comer con ansiedad y evitar el
                  aumento de peso
                </h4>
              </div>
              <div class="blog-item-read-the-article-wrapper">
                <div class="blog-item-read-the-article-text-wrapper">
                  <div class="text-block">Leer el articulo</div>
                </div>
                <div class="blog-item-arrow-wrapper">
                  <i class="fa-solid fa-arrow-right arrowrigtht"></i>
                </div>
              </div>
            </a>
          </div>
          <div role="listitem" class="w-dyn-item">
            <a
              data-w-id="746c52b2-eb33-9827-9714-953f54c5c0c6"
              href="https://buenosaires.gob.ar/coronavirus/bienestar/consejos-para-mejorar-nuestra-calidad-de-vida"
              class="blog-section-blog-item-wrapper w-inline-block"
              target="_blank"
            >
              <div class="blog-item-date-and-time-wrapper">
                <div class="blog-item-date-wrapper">
                  <div class="text-block">Enero 23, 2022</div>
                </div>
              </div>
              <div class="blog-item-heading-wrapper">
                <h4>Consejos para mejorar nuestra Calidad de Vida</h4>
              </div>
              <div class="blog-item-read-the-article-wrapper">
                <div class="blog-item-read-the-article-text-wrapper">
                  <div class="text-block">Leer el articulo</div>
                </div>
                <div class="blog-item-arrow-wrapper">
                  <i class="fa-solid fa-arrow-right arrowrigtht"></i>
                </div>
              </div>
            </a>
          </div>
          <div role="listitem" class="w-dyn-item">
            <a
              data-w-id="746c52b2-eb33-9827-9714-953f54c5c0c6"
              href="https://www.terapify.com/blog/por-que-no-soy-feliz/"
              class="blog-section-blog-item-wrapper w-inline-block"
              target="_blank"
            >
              <div class="blog-item-date-and-time-wrapper">
                <div class="blog-item-date-wrapper">
                  <div class="text-block">Noviembre 27, 2021</div>
                </div>
              </div>
              <div class="blog-item-heading-wrapper">
                <h4>
                  ¿Por qué no soy feliz con nada? Tips para mejorar tu vida
                </h4>
              </div>
              <div class="blog-item-read-the-article-wrapper">
                <div class="blog-item-read-the-article-text-wrapper">
                  <div class="text-block">Leer el articulo</div>
                </div>
                <div class="blog-item-arrow-wrapper">
                  <i class="fa-solid fa-arrow-right arrowrigtht"></i>
                </div>
              </div>
            </a>
          </div>
          <div role="listitem" class="w-dyn-item">
            <a
              data-w-id="746c52b2-eb33-9827-9714-953f54c5c0c6"
              href="https://www.mdzol.com/sociedad/2023/1/17/las-claves-para-dormir-bien-cuidar-la-salud-307882.html"
              target="_blank"
            >
              <div class="blog-item-date-and-time-wrapper">
                <div class="blog-item-date-wrapper">
                  <div class="text-block">Enero 17, 2023</div>
                </div>
                <div class="blog-item-dot"></div>
                <div class="blog-item-time-wrapper">
                  <div class="text-block">17:00</div>
                </div>
              </div>
              <div class="blog-item-heading-wrapper">
                <h4>Las claves para dormir bien y cuidar la salud</h4>
              </div>
              <div class="blog-item-read-the-article-wrapper">
                <div class="blog-item-read-the-article-text-wrapper">
                  <div class="text-block">Leer el articulo</div>
                </div>
                <div class="blog-item-arrow-wrapper">
                  <i class="fa-solid fa-arrow-right arrowrigtht"></i>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- FIN DEL BLOG  -->
