<header class="header">
  <a href="#" class="logo"> HealthTest. </a>

  <nav class="navbar" style="right: -18em; position: relative">
    <a href="#home">home</a>
    <a href="#services">Nuestros Servicios</a>
    <a href="#about">Sobre Nosotros</a>
    <a href="#doctors">Creadores</a>
    <a href="#book">Contactos</a>
    <a href="#review">review</a>
    <a href="#blogs">Blogs</a>
  </nav>

  <div id="menu-btn" class="fas fa-bars"></div>
</header>

<!-- header section ends -->

<!-- home section starts  -->

<section class="home" id="home">
  <div class="image">
    <img src="../assets/img/Logo3PrName.png" alt="" />
  </div>

  <div class="content">
    <h3>bienvenido a HealthTest</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem sed autem
      vero? Magnam, est laboriosam!
    </p>
    <a href="#" class="btn">
      contact us <span class="fas fa-chevron-right"></span>
    </a>
  </div>
</section>

<!-- home section ends -->

<!-- icons section starts  -->

<section class="icons-container">
  <div class="icons">
    <i class="fas fa-user-md"></i>
    <h3>140+</h3>
    <p>doctors at work</p>
  </div>

  <div class="icons">
    <i class="fas fa-users"></i>
    <h3>1040+</h3>
    <p>satisfied patients</p>
  </div>

  <div class="icons">
    <i class="fas fa-procedures"></i>
    <h3>500+</h3>
    <p>bed facility</p>
  </div>

  <div class="icons">
    <i class="fas fa-hospital"></i>
    <h3>80+</h3>
    <p>available hospitals</p>
  </div>
</section>

<!-- icons section ends -->

<!-- services section starts  -->

<section class="services" id="services">
  <h1 class="heading">Nuestros <span>Servicios</span></h1>

  <div class="box-container">
    <div class="box">
      <i class="fas fa-notes-medical"></i>
      <h3>free checkups</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad, omnis.
      </p>
      <a href="#" class="btn">
        learn more <span class="fas fa-chevron-right"></span>
      </a>
    </div>

    <div class="box">
      <i class="fas fa-ambulance"></i>
      <h3>24/7 ambulance</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad, omnis.
      </p>
      <a href="#" class="btn">
        learn more <span class="fas fa-chevron-right"></span>
      </a>
    </div>

    <div class="box">
      <i class="fas fa-user-md"></i>
      <h3>expert doctors</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad, omnis.
      </p>
      <a href="#" class="btn">
        learn more <span class="fas fa-chevron-right"></span>
      </a>
    </div>

    <div class="box">
      <i class="fas fa-pills"></i>
      <h3>medicines</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad, omnis.
      </p>
      <a href="#" class="btn">
        learn more <span class="fas fa-chevron-right"></span>
      </a>
    </div>

    <div class="box">
      <i class="fas fa-procedures"></i>
      <h3>bed facility</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad, omnis.
      </p>
      <a href="#" class="btn">
        learn more <span class="fas fa-chevron-right"></span>
      </a>
    </div>

    <div class="box">
      <i class="fas fa-heartbeat"></i>
      <h3>total care</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad, omnis.
      </p>
      <a href="#" class="btn">
        learn more <span class="fas fa-chevron-right"></span>
      </a>
    </div>
  </div>
</section>

<!-- services section ends -->

<!-- about section starts  -->

<section class="about" id="about">
  <h1 class="heading"><span>Sobre</span> Nosotros</h1>

  <div class="row">
    <div class="image">
      <img src="image/about-img.svg" alt="" />
    </div>

    <div class="content">
      <h3>we take care of your healthy life</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure ducimus,
        quod ex cupiditate ullam in assumenda maiores et culpa odit tempora
        ipsam qui, quisquam quis facere iste fuga, minus nesciunt.
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus vero
        ipsam laborum porro voluptates voluptatibus a nihil temporibus deserunt
        vel?
      </p>
      <a href="#" class="btn">
        learn more <span class="fas fa-chevron-right"></span>
      </a>
    </div>
  </div>
</section>

<!-- about section ends -->

<!-- review section starts  -->

<section class="review" id="review">
  <h1 class="heading">client's <span>review</span></h1>

  <div class="box-container">
    <div class="box">
      <img src="image/pic-1.png" alt="" />
      <h3>john deo</h3>
      <div class="stars">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
      </div>
      <p class="text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam
        sapiente nihil aperiam? Repellat sequi nisi aliquid perspiciatis libero
        nobis rem numquam nesciunt alias sapiente minus voluptatem, reiciendis
        consequuntur optio dolorem!
      </p>
    </div>

    <div class="box">
      <img src="image/pic-2.png" alt="" />
      <h3>john deo</h3>
      <div class="stars">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
      </div>
      <p class="text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam
        sapiente nihil aperiam? Repellat sequi nisi aliquid perspiciatis libero
        nobis rem numquam nesciunt alias sapiente minus voluptatem, reiciendis
        consequuntur optio dolorem!
      </p>
    </div>

    <div class="box">
      <img src="image/pic-3.png" alt="" />
      <h3>john deo</h3>
      <div class="stars">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
      </div>
      <p class="text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam
        sapiente nihil aperiam? Repellat sequi nisi aliquid perspiciatis libero
        nobis rem numquam nesciunt alias sapiente minus voluptatem, reiciendis
        consequuntur optio dolorem!
      </p>
    </div>
  </div>
</section>

<!-- review section ends -->

<!-- boton que desliza para arriba -->
<span class="arriba bx bxs-up-arrow"></span>
<!-- Fin del boton que desliza para arriba -->

<div class="case-studies-section wf-section">
  <div class="wrapper project-slider">
    <div
      data-delay="4000"
      data-animation="slide"
      class="project-slider w-slider"
      data-autoplay="false"
      data-easing="ease"
      data-hide-arrows="false"
      data-disable-swipe="false"
      data-autoplay-limit="0"
      data-nav-spacing="3"
      data-duration="500"
      data-infinite="true"
    >
      <div class="project-slider-mask w-slider-mask">
        <div class="project-slide w-slide">
          <div class="w-dyn-list">
            <div role="list" class="w-dyn-items">
              <div role="listitem" class="w-dyn-item">
                <a
                  href="/projects/datadash-product-design"
                  class="project-slide-link-block w-inline-block"
                >
                  <div class="project-slider-image-wrapper">
                    <img
                      src="https://assets.website-files.com/5ff05a7bd62f16808f485280/6077dcc78ec31466630c033f_image_processing20200129-19798-1k8ponz%202-min.png"
                      loading="lazy"
                      alt=""
                      sizes="(max-width: 479px) 90vw, (max-width: 767px) 363.578125px, (max-width: 991px) 366.4375px, (max-width: 1279px) 37vw, (max-width: 1439px) 34vw, 486px"
                      srcset="
                        https://assets.website-files.com/5ff05a7bd62f16808f485280/6077dcc78ec31466630c033f_image_processing20200129-19798-1k8ponz%202-min-p-500.png  500w,
                        https://assets.website-files.com/5ff05a7bd62f16808f485280/6077dcc78ec31466630c033f_image_processing20200129-19798-1k8ponz%202-min.png       1160w
                      "
                      class="image"
                    />
                  </div>
                  <div class="project-slider-content">
                    <div class="project-slider-tags-wrapper">
                      <div class="project-slider-tag-text-wrapper">
                        <h6 class="project-slider-tag-text">Product Design</h6>
                      </div>
                      <div class="project-slider-tag-text-wrapper">
                        <h6
                          class="project-slider-tag-text w-dyn-bind-empty"
                        ></h6>
                      </div>
                    </div>
                    <div class="project-slider-heading-wrapper">
                      <h5 class="project-slider-heading">
                        Datadash Product design
                      </h5>
                    </div>
                    <div class="view-project-div">
                      <div class="text-block _18px">View Project</div>
                      <div class="view-project-arrow-wrapper">
                        <img
                          src="https://assets.website-files.com/5fef5619b640934b33c2385e/5ff019fc559a4200eda62273_Vector.svg"
                          loading="lazy"
                          alt=""
                          class="view-project-arrow"
                        />
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="project-slide w-slide">
          <div class="w-dyn-list">
            <div role="list" class="w-dyn-items">
              <div role="listitem" class="w-dyn-item">
                <a
                  href="/projects/maize-website-design"
                  class="project-slide-link-block w-inline-block"
                >
                  <div class="project-slider-image-wrapper">
                    <img
                      src="https://assets.website-files.com/5ff05a7bd62f16808f485280/6077dcd635f7f176db9fef1e_image_processing20200129-19798-1k8ponz%203-min.png"
                      loading="lazy"
                      alt=""
                      sizes="(max-width: 479px) 90vw, (max-width: 767px) 363.578125px, (max-width: 991px) 366.4375px, (max-width: 1279px) 37vw, (max-width: 1439px) 34vw, 486px"
                      srcset="
                        https://assets.website-files.com/5ff05a7bd62f16808f485280/6077dcd635f7f176db9fef1e_image_processing20200129-19798-1k8ponz%203-min-p-500.png  500w,
                        https://assets.website-files.com/5ff05a7bd62f16808f485280/6077dcd635f7f176db9fef1e_image_processing20200129-19798-1k8ponz%203-min.png       1160w
                      "
                      class="image"
                    />
                  </div>
                  <div class="project-slider-content">
                    <div class="project-slider-tags-wrapper">
                      <div class="project-slider-tag-text-wrapper">
                        <h6 class="project-slider-tag-text">Web Design</h6>
                      </div>
                    </div>
                    <div class="project-slider-heading-wrapper">
                      <h5 class="project-slider-heading">
                        Maize Website Design
                      </h5>
                    </div>
                    <div class="view-project-div">
                      <div class="text-block _18px">View Project</div>
                      <div class="view-project-arrow-wrapper">
                        <img
                          src="https://assets.website-files.com/5fef5619b640934b33c2385e/5ff019fc559a4200eda62273_Vector.svg"
                          loading="lazy"
                          alt=""
                          class="view-project-arrow"
                        />
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="project-slide w-slide">
          <div class="w-dyn-list">
            <div role="list" class="w-dyn-items">
              <div role="listitem" class="w-dyn-item">
                <a
                  href="/projects/gorillax-branding"
                  class="project-slide-link-block w-inline-block"
                >
                  <div class="project-slider-image-wrapper">
                    <img
                      src="https://assets.website-files.com/5ff05a7bd62f16808f485280/6077dce7ec07854a8c820c4e_image_processing20200129-19798-1k8ponz%204-min.png"
                      loading="lazy"
                      alt=""
                      sizes="(max-width: 479px) 90vw, (max-width: 767px) 363.578125px, (max-width: 991px) 366.4375px, (max-width: 1279px) 37vw, (max-width: 1439px) 34vw, 486px"
                      srcset="
                        https://assets.website-files.com/5ff05a7bd62f16808f485280/6077dce7ec07854a8c820c4e_image_processing20200129-19798-1k8ponz%204-min-p-500.png  500w,
                        https://assets.website-files.com/5ff05a7bd62f16808f485280/6077dce7ec07854a8c820c4e_image_processing20200129-19798-1k8ponz%204-min.png       1160w
                      "
                      class="image"
                    />
                  </div>
                  <div class="project-slider-content">
                    <div class="project-slider-tags-wrapper">
                      <div class="project-slider-tag-text-wrapper">
                        <h6 class="project-slider-tag-text">Branding</h6>
                      </div>
                      <div class="project-slider-tag-text-wrapper">
                        <h6
                          class="project-slider-tag-text w-dyn-bind-empty"
                        ></h6>
                      </div>
                    </div>
                    <div class="project-slider-heading-wrapper">
                      <h5 class="project-slider-heading">GorillaX Branding</h5>
                    </div>
                    <div class="view-project-div">
                      <div class="text-block _18px">View Project</div>
                      <div class="view-project-arrow-wrapper">
                        <img
                          src="https://assets.website-files.com/5fef5619b640934b33c2385e/5ff019fc559a4200eda62273_Vector.svg"
                          loading="lazy"
                          alt=""
                          class="view-project-arrow"
                        />
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="project-slide w-slide">
          <div class="w-dyn-list">
            <div role="list" class="w-dyn-items">
              <div role="listitem" class="w-dyn-item">
                <a href="#" class="project-slide-link-block w-inline-block">
                  <div class="project-slider-image-wrapper">
                    <img
                      src="https://assets.website-files.com/5ff05a7bd62f16808f485280/6077dcf54baced26f174226f_image_processing20200129-19798-1k8ponz%2014-min.png"
                      loading="lazy"
                      alt=""
                      sizes="(max-width: 479px) 90vw, (max-width: 767px) 363.578125px, (max-width: 991px) 366.4375px, (max-width: 1279px) 37vw, (max-width: 1439px) 34vw, 486px"
                      srcset="
                        https://assets.website-files.com/5ff05a7bd62f16808f485280/6077dcf54baced26f174226f_image_processing20200129-19798-1k8ponz%2014-min-p-500.png  500w,
                        https://assets.website-files.com/5ff05a7bd62f16808f485280/6077dcf54baced26f174226f_image_processing20200129-19798-1k8ponz%2014-min.png       1160w
                      "
                      class="image"
                    />
                  </div>
                  <div class="project-slider-content">
                    <div class="project-slider-tags-wrapper">
                      <div class="project-slider-tag-text-wrapper">
                        <h6 class="project-slider-tag-text">Web Design</h6>
                      </div>
                    </div>
                    <div class="project-slider-heading-wrapper">
                      <h5 class="project-slider-heading">
                        Joggr Website Design
                      </h5>
                    </div>
                    <div class="view-project-div">
                      <div class="text-block _18px">View Project</div>
                      <div class="view-project-arrow-wrapper">
                        <img
                          src="https://assets.website-files.com/5fef5619b640934b33c2385e/5ff019fc559a4200eda62273_Vector.svg"
                          loading="lazy"
                          alt=""
                          class="view-project-arrow"
                        />
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="project-slider-left-arrow w-slider-arrow-left">
        <div class="project-slider-arrow-icon-wrapper">
          <img
            src="https://assets.website-files.com/5fef5619b640934b33c2385e/5fef584b6f3b7d0fb04e725e_Vector-4.svg"
            loading="lazy"
            alt=""
            class="image contain"
          />
        </div>
      </div>
      <div class="project-slider-right-arrow w-slider-arrow-right">
        <div class="project-slider-arrow-icon-wrapper">
          <img
            src="https://assets.website-files.com/5fef5619b640934b33c2385e/5fef584a07453d08e05572b5_Vector-3.svg"
            loading="lazy"
            alt=""
            class="image contain"
          />
        </div>
      </div>
      <div class="project-slider-nav w-slider-nav w-round"></div>
    </div>
  </div>
</div>
<!-- ========== Inicio del bloG========== -->

<section class="blog" id="blogs"></section>
<div class="blog-section wf-section" style="background: #f0e68c">
  <div class="wrapper blog-homepage">
    <div class="blog-heading-and-subtext-wrapper">
      <div class="blog-subtext-wrapper">
        <h6>Blogs</h6>
      </div>
      <div class="blog-heading-wrapper">
        <h2>Ultimos Blogs</h2>
      </div>
      <br />
      <div class="loadindroedor">
        <!-- ========== Roedor ========== -->

        <div
          aria-label="Orange and tan hamster running in a metal wheel"
          role="img"
          class="wheel-and-hamster"
          style="width: 25em; height: 25em"
        >
          <div class="wheel"></div>
          <div class="hamster" style="top: 19em">
            <div class="hamster__body">
              <div class="hamster__head">
                <div class="hamster__ear"></div>
                <div class="hamster__eye"></div>
                <div class="hamster__nose"></div>
              </div>
              <div class="hamster__limb hamster__limb--fr"></div>
              <div class="hamster__limb hamster__limb--fl"></div>
              <div class="hamster__limb hamster__limb--br"></div>
              <div class="hamster__limb hamster__limb--bl"></div>
              <div class="hamster__tail"></div>
            </div>
          </div>
          <div class="spoke"></div>
        </div>

        <!-- ========== Fin del roedor========== -->
      </div>
    </div>
    <div class="blog-content-wrapper">
      <div class="w-dyn-list">
        <div role="list" class="w-dyn-items">
          <div role="listitem" class="w-dyn-item">
            <a
              data-w-id="746c52b2-eb33-9827-9714-953f54c5c0c6"
              href="https://www.anahana.com/es/mental-health/stress-management-for-teens#:~:text=Por%20lo%20tanto%2C%20las%20mejores%20herramientas%20que%20un,comenzar.%20%C2%BFQu%C3%A9%20causa%20la%20ansiedad%20en%20los%20adolescentes%3F"
              class="blog-section-blog-item-wrapper w-inline-block"
            >
              <div class="blog-item-date-and-time-wrapper">
                <div>
                  <div class="text-block">Agosto 23, 2021</div>
                </div>
              </div>
              <div class="blog-item-heading-wrapper">
                <h4>MANEJO DEL ESTRÉS PARA ADOLESCENTES</h4>
              </div>
              <div class="blog-item-read-the-article-wrapper">
                <div class="blog-item-read-the-article-text-wrapper">
                  <div class="text-block">Leer el articulo</div>
                </div>
                <div class="blog-item-arrow-wrapper">
                  <i class="fa-solid fa-arrow-right arrowrigtht"></i>
                </div>
              </div>
            </a>
          </div>
          <div role="listitem" class="w-dyn-item">
            <a
              data-w-id="746c52b2-eb33-9827-9714-953f54c5c0c6"
              href="https://www.biobiochile.cl/noticias/blogs/blog-ubo/2020/12/23/efecto-de-pandemia-de-covid-19-trastorno-de-estres-postraumatico-en-el-cerebro-de-los-adolescentes.shtml"
              class="blog-section-blog-item-wrapper w-inline-block"
            >
              <div class="blog-item-date-and-time-wrapper">
                <div class="blog-item-date-wrapper">
                  <div class="text-block">Diciembre 23, 2020</div>
                </div>
                <div class="blog-item-dot"></div>
                <div class="blog-item-time-wrapper">
                  <div class="text-block">12:28</div>
                </div>
              </div>
              <div class="blog-item-heading-wrapper">
                <h4>
                  Efecto de pandemia de covid-19: trastorno de estrés
                  postraumático en el cerebro de los adolescentes
                </h4>
              </div>
              <div class="blog-item-read-the-article-wrapper">
                <div class="blog-item-read-the-article-text-wrapper">
                  <div class="text-block">Leer el articulo</div>
                </div>
                <div class="blog-item-arrow-wrapper">
                  <i class="fa-solid fa-arrow-right arrowrigtht"></i>
                </div>
              </div>
            </a>
          </div>
          <div role="listitem" class="w-dyn-item">
            <a
              data-w-id="746c52b2-eb33-9827-9714-953f54c5c0c6"
              href="https://blog.up.edu.mx/prepaup/femenil/tecnicas-para-combatir-el-estres-en-la-adolescencia"
              class="blog-section-blog-item-wrapper w-inline-block"
            >
              <div class="blog-item-date-and-time-wrapper">
                <div class="blog-item-date-wrapper">
                  <div class="text-block">Mayo 26, 2021</div>
                </div>
                <div class="blog-item-dot"></div>
                <div class="blog-item-time-wrapper">
                  <div class="text-block">15:00</div>
                </div>
              </div>
              <div class="blog-item-heading-wrapper">
                <h4>Técnicas para combatir el estrés en la adolescencia</h4>
              </div>
              <div class="blog-item-read-the-article-wrapper">
                <div class="blog-item-read-the-article-text-wrapper">
                  <div class="text-block">Leer el articulo</div>
                </div>
                <div class="blog-item-arrow-wrapper">
                  <i class="fa-solid fa-arrow-right arrowrigtht"></i>
                </div>
              </div>
            </a>
          </div>
          <div role="listitem" class="w-dyn-item">
            <a
              data-w-id="746c52b2-eb33-9827-9714-953f54c5c0c6"
              href="https://kidshealth.org/SeattleCH/es/parents/stress.html"
              class="blog-section-blog-item-wrapper w-inline-block"
            >
              <div class="blog-item-date-and-time-wrapper">
                <div class="blog-item-date-wrapper">
                  <div class="text-block">Abril, 2022</div>
                </div>
              </div>
              <div class="blog-item-heading-wrapper">
                <h4>Estrés infantil: Cómo pueden ayudar los padres</h4>
              </div>
              <div class="blog-item-read-the-article-wrapper">
                <div class="blog-item-read-the-article-text-wrapper">
                  <div class="text-block">Leer el articulo</div>
                </div>
                <div class="blog-item-arrow-wrapper">
                  <i class="fa-solid fa-arrow-right arrowrigtht"></i>
                </div>
              </div>
            </a>
          </div>
          <div role="listitem" class="w-dyn-item">
            <a
              data-w-id="746c52b2-eb33-9827-9714-953f54c5c0c6"
              href="https://www.elesquiu.com/curiosidades/2022/12/31/estres-actividades-que-ayudan-superarlo-460982.html"
              class="blog-section-blog-item-wrapper w-inline-block"
            >
              <div class="blog-item-date-and-time-wrapper">
                <div class="blog-item-date-wrapper">
                  <div class="text-block">Diciembre 31, 2022</div>
                </div>
              </div>
              <div class="blog-item-heading-wrapper">
                <h4>Estrés: 6 actividades que ayudan a superarlo</h4>
              </div>
              <div class="blog-item-read-the-article-wrapper">
                <div class="blog-item-read-the-article-text-wrapper">
                  <div class="text-block">Leer el articulo</div>
                </div>
                <div class="blog-item-arrow-wrapper">
                  <i class="fa-solid fa-arrow-right arrowrigtht"></i>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- FIN DEL BLOG  -->

<!-- doctors section starts  -->

<section class="doctors" id="doctors">
  <h1 class="heading"><span>Creadores</span></h1>
  <h3 class="heading">¡Hola Nos Presentamos!</h3>

  <div class="box-container">
    <div class="box">
      <img src="../assets/img/FotoPerfilDonald.png" alt="" />
      <h3>Donald David Silva Sánchez</h3>
      <span>expert doctor</span>
      <div class="share">
        <a href="#" class="fab fa-facebook-f"></a>
        <a href="#" class="fab fa-twitter"></a>
        <a href="#" class="fab fa-instagram"></a>
        <a href="#" class="fab fa-linkedin"></a>
      </div>
    </div>

    <div class="box">
      <img src="../assets/img/Perfilelvis.png" alt="" />
      <h3>Elvis Luis Gonzales Acosta</h3>
      <span>expert doctor</span>
      <div class="share">
        <a href="#" class="fab fa-facebook-f"></a>
        <a href="#" class="fab fa-twitter"></a>
        <a href="#" class="fab fa-instagram"></a>
        <a href="#" class="fab fa-linkedin"></a>
      </div>
    </div>
  </div>
</section>

<!-- doctors section ends -->
