<!-- ========== Inicio del bloG========== -->
<app-menudepresion></app-menudepresion>
<br /><br />

<section class="blog" id="blogs"></section>
<div class="blog-section wf-section" style="background: #f0e68c">
  <div class="wrapper blog-homepage">
    <div class="blog-heading-and-subtext-wrapper">
      <div class="blog-subtext-wrapper">
        <h6>Blogs</h6>
      </div>
      <div class="blog-heading-wrapper">
        <h2>Ultimos Blogs</h2>
      </div>
      <br />
      <div class="loadindroedor">
        <!-- ========== Roedor ========== -->

        <div
          aria-label="Orange and tan hamster running in a metal wheel"
          role="img"
          class="wheel-and-hamster"
          style="width: 25em; height: 25em"
        >
          <div class="wheel"></div>
          <div class="hamster" style="top: 19em">
            <div class="hamster__body">
              <div class="hamster__head">
                <div class="hamster__ear"></div>
                <div class="hamster__eye"></div>
                <div class="hamster__nose"></div>
              </div>
              <div class="hamster__limb hamster__limb--fr"></div>
              <div class="hamster__limb hamster__limb--fl"></div>
              <div class="hamster__limb hamster__limb--br"></div>
              <div class="hamster__limb hamster__limb--bl"></div>
              <div class="hamster__tail"></div>
            </div>
          </div>
          <div class="spoke"></div>
        </div>

        <!-- ========== Fin del roedor========== -->
      </div>
    </div>
    <div class="blog-content-wrapper">
      <div class="w-dyn-list">
        <div role="list" class="w-dyn-items">
          <div role="listitem" class="w-dyn-item">
            <a
              data-w-id="746c52b2-eb33-9827-9714-953f54c5c0c6"
              href="https://www.altonivel.com.mx/actualidad/depresion-cual-es-la-causa-sintomas-y-como-tratar-este-trastorno/"
              class="blog-section-blog-item-wrapper w-inline-block"
              target="_blank"
            >
              <!-- ========== _blank abre otras pestañas ========== -->
              <div class="blog-item-date-and-time-wrapper">
                <div class="blog-item-date-wrapper">
                  <div class="text-block">Enero 13, 2023</div>
                </div>
                <div class="blog-item-dot"></div>
                <div class="blog-item-time-wrapper">
                  <div class="text-block">10:20</div>
                </div>
              </div>

              <div class="blog-item-heading-wrapper">
                <h4>
                  Depresión ¿Cuál es la causa, síntomas y cómo tratar este
                  trastorno?
                </h4>
              </div>
              <div class="blog-item-read-the-article-wrapper">
                <div class="blog-item-read-the-article-text-wrapper">
                  <div class="text-block">Leer el articulo</div>
                </div>
                <div class="blog-item-arrow-wrapper">
                  <i class="fa-solid fa-arrow-right arrowrigtht"></i>
                </div>
              </div>
            </a>
          </div>
          <div role="listitem" class="w-dyn-item">
            <a
              data-w-id="746c52b2-eb33-9827-9714-953f54c5c0c6"
              href="https://www.lt10.com.ar/noticia/355716--herramientas-y-consejos-para-luchar-contra-la-depresion"
              class="blog-section-blog-item-wrapper w-inline-block"
              target="_blank"
            >
              <div class="blog-item-date-and-time-wrapper">
                <div class="blog-item-date-wrapper">
                  <div class="text-block">Enero 14, 2023</div>
                </div>
                <div class="blog-item-dot"></div>
                <div class="blog-item-time-wrapper">
                  <div class="text-block">11:56</div>
                </div>
              </div>
              <div class="blog-item-heading-wrapper">
                <h4>Herramientas y consejos para luchar contra la depresión</h4>
              </div>
              <div class="blog-item-read-the-article-wrapper">
                <div class="blog-item-read-the-article-text-wrapper">
                  <div class="text-block">Leer el articulo</div>
                </div>
                <div class="blog-item-arrow-wrapper">
                  <i class="fa-solid fa-arrow-right arrowrigtht"></i>
                </div>
              </div>
            </a>
          </div>
          <div role="listitem" class="w-dyn-item">
            <a
              data-w-id="746c52b2-eb33-9827-9714-953f54c5c0c6"
              href="https://www.univision.com/local/nueva-york-wxtv/depresion-post-covid-ayudas-nueva-york"
              class="blog-section-blog-item-wrapper w-inline-block"
              target="_blank"
            >
              <div class="blog-item-date-and-time-wrapper">
                <div class="blog-item-date-wrapper">
                  <div class="text-block">Diciembre 10, 2023</div>
                </div>
                <div class="blog-item-dot"></div>
                <div class="blog-item-time-wrapper">
                  <div class="text-block">06:06</div>
                </div>
              </div>
              <div class="blog-item-heading-wrapper">
                <h4>
                  Depresión post-covid: te decimos cómo puedes hacerle frente
                </h4>
              </div>
              <div class="blog-item-read-the-article-wrapper">
                <div class="blog-item-read-the-article-text-wrapper">
                  <div class="text-block">Leer el articulo</div>
                </div>
                <div class="blog-item-arrow-wrapper">
                  <i class="fa-solid fa-arrow-right arrowrigtht"></i>
                </div>
              </div>
            </a>
          </div>
          <div role="listitem" class="w-dyn-item">
            <a
              data-w-id="746c52b2-eb33-9827-9714-953f54c5c0c6"
              href="https://www.menshealth.com/es/salud-bienestar/a36318243/como-detectar-depresion/"
              class="blog-section-blog-item-wrapper w-inline-block"
              target="_blank"
            >
              <div class="blog-item-date-and-time-wrapper">
                <div class="blog-item-date-wrapper">
                  <div class="text-block">Enero 19, 2023</div>
                </div>
              </div>
              <div class="blog-item-heading-wrapper">
                <h4>Depresión: qué es y síntomas</h4>
              </div>
              <div class="blog-item-read-the-article-wrapper">
                <div class="blog-item-read-the-article-text-wrapper">
                  <div class="text-block">Leer el articulo</div>
                </div>
                <div class="blog-item-arrow-wrapper">
                  <i class="fa-solid fa-arrow-right arrowrigtht"></i>
                </div>
              </div>
            </a>
          </div>
          <div role="listitem" class="w-dyn-item">
            <a
              data-w-id="746c52b2-eb33-9827-9714-953f54c5c0c6"
              href="https://www.infobae.com/salud/2023/01/13/como-detectar-las-senales-de-la-depresion-en-ninos-y-adolescentes/"
              target="_blank"
            >
              <div class="blog-item-date-and-time-wrapper">
                <div class="blog-item-date-wrapper">
                  <div class="text-block">Febrero 8, 2023</div>
                </div>
              </div>
              <div class="blog-item-heading-wrapper">
                <h4>
                  Cómo detectar las señales de la depresión en niños y
                  adolescentes
                </h4>
              </div>
              <div class="blog-item-read-the-article-wrapper">
                <div class="blog-item-read-the-article-text-wrapper">
                  <div class="text-block">Leer el articulo</div>
                </div>
                <div class="blog-item-arrow-wrapper">
                  <i class="fa-solid fa-arrow-right arrowrigtht"></i>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- FIN DEL BLOG  -->
