<div class="sidebar">
  <div class="logo-details" style="background: #fff">
    <div class="logo-image">
      <img
        style="width: 6em"
        src="../../../assets/img/logpestañapryect.png"
        alt=""
      />
    </div>
    <span class="logo_name" style="color: #000">HealthTest</span>
  </div>
  <ul class="nav-links">
    <li>
      <a href="/psicologo/paginapsicologo" class="active">
        <i class="bx bx-grid-alt"></i>
        <span class="links_name">Home</span>
      </a>
    </li>
    <li>
      <a href="/psicologo/perfilpsicologo">
        <i class="bx bx-user"></i>
        <span class="links_name">Editar Perfil</span>
      </a>
    </li>
    <li>
      <a href="/psicologo/paginapsicologovisualizarpaciente">
        <i class="bx bx-list-ul"></i>
        <span class="links_name">Paciente</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="bx bx-pie-chart-alt-2"></i>
        <span class="links_name">Estadistica</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="bx bx-coin-stack"></i>
        <span class="links_name">Test de Estrés</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="bx bx-coin-stack"></i>
        <span class="links_name">Test de Ansiedad</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="bx bx-coin-stack"></i>
        <span class="links_name">Test de Depresión</span>
      </a>
    </li>
    <li>
      <a href="/psicologo/contactanospsicologo">
        <i class="bx bx-message"></i>
        <span class="links_name">Contactanos</span>
      </a>
    </li>
    <br /><br /><br /><br /><br /><br />
    <li>
      <button class="cerrasesion" type="submit" (click)="cerrarSesion()">
        <i class="uil uil-signout"></i>
        <span class="link-name">Cerrar Sesión</span>
      </button>
    </li>
  </ul>
</div>
<section class="home-section">
  <nav>
    <div class="sidebar-button">
      <i class="bx bx-menu sidebarBtn"></i>
      <span class="dashboard" style="color: blue">Home </span>
      <span class="dashboard"> / HealthTest</span>
    </div>
    <div class="search-box">
      <input type="text" placeholder="Search..." />
      <i class="bx bx-search"></i>
    </div>
    <div class="profile-details">
      <!--<img src="images/profile.jpg" alt="">-->
      <span class="admin_name">{{ user.user.username }}</span>
    </div>
  </nav>
  <div class="home-content">
    <div class="overview-boxes">
      <section class="home" id="home">
        <div class="image">
          <img src="../../../assets/img/Logo3PrName.png" alt="" />
        </div>

        <div class="content">
          <h3>Bienvenido a HealthTest</h3>
          <p>
            ¡Bienvenido/a! Estoy aquí para ayudarte y responder a cualquier
            pregunta que tengas. Si necesitas información sobre algún tema en
            particular, estoy aquí para escucharte y brindarte el apoyo que
            necesitas. No dudes en preguntar cualquier cosa que necesites,
            estaré encantado/a de ayudarte. ¡Gracias por confiar en nosotros!
          </p>
        </div>
      </section>
    </div>
  </div>
</section>
