<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>HealthTest</title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- ========== Icono de la aplicacion========== -->
    <!-- ========== descarga el css de una pagina web de los card que desplazan y el blog ========== -->
  </head>

  <body>
    <app-menuansiedad></app-menuansiedad>

    <!-- header section ends -->

    <!-- home section starts  -->

    <section class="home" id="home">
      <div class="image">
        <img src="../../../assets/img/Onlinetestansiedad.svg" alt="" />
      </div>

      <div class="content">
        <h3>Realizar Test de Ansiedad</h3>
        <p>
          Realizar Un Test De Ansiedad es una excelente manera de comprender
          mejor su nivel de ansiedad y cómo afecta su vida diaria. Le animo a
          que se tome unos minutos para completar el test de manera honesta y
          exhaustiva. Los resultados lo ayudarán a comprender mejor sus niveles
          de ansiedad y le brindarán herramientas útiles para manejarlos de
          manera efectiva.
          <strong
            >¡No te pierdas la oportunidad de conocerte mejor y de mejorar tu
            bienestar!</strong
          >
        </p>
        <a href="#">
          <button class="continue-application">
            <div>
              <div class="pencil"></div>
              <div class="folder">
                <div class="top">
                  <svg viewBox="0 0 24 27">
                    <path
                      d="M1,0 L23,0 C23.5522847,-1.01453063e-16 24,0.44771525 24,1 L24,8.17157288 C24,8.70200585 23.7892863,9.21071368 23.4142136,9.58578644 L20.5857864,12.4142136 C20.2107137,12.7892863 20,13.2979941 20,13.8284271 L20,26 C20,26.5522847 19.5522847,27 19,27 L1,27 C0.44771525,27 6.76353751e-17,26.5522847 0,26 L0,1 C-6.76353751e-17,0.44771525 0.44771525,1.01453063e-16 1,0 Z"
                    ></path>
                  </svg>
                </div>
                <div class="paper"></div>
              </div>
            </div>
            Realizar Test De Ansiedad
          </button>
        </a>
        <br />
        <br />
      </div>
    </section>

    <!-- home section ends -->

    <!-- icons section starts  -->

    <section class="icons-container">
      <div class="icons">
        <img
          style="width: 5em"
          src="https://cdn-icons-png.flaticon.com/512/1281/1281868.png"
        />
        <h4 style="font-size: 1.5rem">
          “La juventud es el momento de estudiar la sabiduría; la vejez, el de
          practicarla.”
        </h4>
        <p>Jean Jacques Rousseau</p>
      </div>

      <div class="icons">
        <img
          style="width: 5em"
          src="https://cdn-icons-png.flaticon.com/512/2078/2078868.png"
        />
        <h4 style="font-size: 1.5rem">"Siempre se puede, cuando se quiere."</h4>
        <p>José Luis Sampedro</p>
      </div>

      <div class="icons">
        <img
          style="width: 5em"
          src="https://cdn-icons-png.flaticon.com/512/993/993686.png"
        />
        <h4 style="font-size: 1.5rem">
          "Ser inteligente es dedicarle el tiempo necesario a resolver tus
          problemas."
        </h4>
        <p>Albert Einstein</p>
      </div>

      <div class="icons">
        <img
          style="width: 5em"
          src="https://cdn-icons-png.flaticon.com/512/7713/7713578.png"
        />
        <h4 style="font-size: 1.5rem">
          "Nuestra paciencia conseguirá más cosas que nuestra fuerza."
        </h4>
        <p>Edmund Burke</p>
      </div>
    </section>

    <!-- icons section ends -->

    <!-- about section starts  -->

    <app-testqueesansiedad></app-testqueesansiedad>

    <!-- about section ends -->

    <!-- services section starts  -->

    <!-- services section ends -->

    <!-- icons section starts  -->

    <!-- review section starts  -->

    <!-- about section starts  -->

    <app-preveniransiedad></app-preveniransiedad>
    <!-- blogs section starts   -->

    <!-- review section ends -->

    <!-- boton que desliza para arriba -->
    <span class="arriba bx bxs-up-arrow"></span>
    <!-- Fin del boton que desliza para arriba -->

    <!-- boton del wassap -->
    <a
      style="top: 13em; right: 0.2em"
      href="https://api.whatsapp.com/send/?phone=593984772266&text=Hola%2C+%C2%BFc%C3%B3mo+podemos+ayudarte%3F+Env%C3%ADanos+un+mensaje+&type=phone_number&app_absent=0"
      class="btn-wsp"
      target="_blank"
    >
      <i class="fa fa-whatsapp icono"></i>
    </a>
    <!-- Fin del boton del wassap -->

    <app-sintomasansiedad></app-sintomasansiedad>

    <!--Blog-->
    <app-blogansiedad></app-blogansiedad>
    <!-- booking section ends -->
    <app-footer></app-footer>

    <!-- footer section ends -->
  </body>
</html>
