<header class="header">
  <a class="logo"> HealthTest. </a>
  <nav class="navbar" style="right: -2em; position: relative">
    <ul>
      <li><a href="#home">home</a></li>
      <li><a routerLink="/testdepresioninfo">Realizar Test de Depresión</a></li>
      <li>
        <a routerLink="/queesdepresion">¿Qué es el Depresión?</a>
      </li>
      <li>
        <a href="#">Test</a>
        <ul>
          <li><a routerLink="/testestresinfo">Test de Estres</a></li>
          <li><a href="/testansiedadinfo">Test de Ansiedad</a></li>
          <li><a routerLink="/testdepresioninfo">Test de Depresión</a></li>
        </ul>
      </li>
      <li>
        <a routerLink="/sintomasdepresion">Síntomas de la Depresión</a>
      </li>
      <li><a routerLink="/blogsdepresion">Blogs</a></li>
      <li>
        <a href="#">Iniciar Sesión</a>
        <ul>
          <li>
            <a href="/login">¿Deseas acceder?</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>

  <div id="menu-btn" class="fas fa-bars"></div>
</header>

<!-- header section ends -->
