<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />

    <!-- ========== WebFont ========== -->
  </head>

  <body>
    <div class="container">
      <app-menu></app-menu>

      <div class="signin-signup">
        <!--Iniciar sesion-->
        <form action="" class="sign-in-form" (ngSubmit)="userLogin()">
          <h2 class="title">Iniciar Sesión</h2>
          <div class="input-field">
            <i class="fas fa-user"></i>
            <input
              type="text"
              name="username"
              [(ngModel)]="persona.username"
              placeholder="Usuario"
            />
          </div>
          <div class="input-field">
            <i class="fas fa-lock"></i>
            <input
              type="password"
              name="password"
              [(ngModel)]="persona.password"
              placeholder="Contraseña"
            />
          </div>
          <input type="submit" value="Acceder" class="btn" />

          <p class="social-text">O Iniciar Sesión con la Plataforma Social</p>
          <div class="social-media">
            <a href="#" class="social-icon">
              <i class="fab fa-facebook"></i>
            </a>
            <a href="" class="social-icon">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="social-icon">
              <i class="fab fa-google"></i>
            </a>
            <a href="" class="social-icon">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </div>
        </form>

        <!--Registrarse-->
        <form action="" class="sign-up-form" (ngSubmit)="Guardar()">
          <br />
          <br />
          <h2 class="title" style="position: relative; top: 1em">
            Regístrarse
          </h2>
          <br />

          <div class="contenedor">
            <div
              class="selectbox"
              style="position: relative; top: -1em; right: 7em"
            >
              <div class="select" id="select" style="height: 0.1em">
                <div class="contenido-select">
                  <h1 class="titulo">
                    Selecciona &nbsp; el &nbsp; tipo &nbsp;de&nbsp; usuario
                  </h1>
                </div>
                <i class="fas fa-angle-down"></i>
              </div>

              <div class="opciones" id="opciones">
                <a
                  href="#"
                  class="opcion"
                  (click)="setTipoUsuario('Administrador')"
                >
                  <div class="contenido-opcion">
                    <img
                      src="https://cdn-icons-png.flaticon.com/512/2345/2345338.png"
                      alt=""
                    />
                    <div class="textos">
                      <h1 class="titulo">Administrador</h1>
                      <p class="descripcion">Su cuenta sera verificada.</p>
                    </div>
                  </div>
                </a>
                <a
                  href="#"
                  class="opcion"
                  (click)="setTipoUsuario('Psicologo')"
                >
                  <div class="contenido-opcion">
                    <img
                      src="https://cdn-icons-png.flaticon.com/512/3475/3475916.png"
                      alt=""
                    />
                    <div class="textos">
                      <h1 class="titulo">Psicologo</h1>
                      <p class="descripcion">Su cuenta sera verificada.</p>
                    </div>
                  </div>
                </a>
                <a href="#" class="opcion" (click)="setTipoUsuario('Paciente')">
                  <div class="contenido-opcion">
                    <img
                      src="https://cdn-icons-png.flaticon.com/512/4113/4113047.png"
                      alt=""
                    />
                    <div class="textos">
                      <h1 class="titulo">Paciente</h1>
                      <p class="descripcion">Su cuenta no sera verificada.</p>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>

          <div class="input-field">
            <i class="fas fa-user"></i>
            <input
              type="text"
              placeholder="Nombre Completo"
              name="nombre"
              [(ngModel)]="persona.name"
            />
          </div>
          <div class="input-field">
            <i class="fas fa-user"></i>
            <input
              type="text"
              placeholder="Usuario"
              name="username"
              [(ngModel)]="persona.username"
            />
          </div>
          <div class="input-field">
            <i class="fas fa-envelope"></i>
            <input
              type="text"
              name="email"
              [(ngModel)]="persona.email"
              placeholder="Email"
            />
          </div>
          <div class="input-field">
            <i class="fas fa-lock"></i>
            <input
              type="password"
              placeholder="Contraseña"
              name="password"
              [(ngModel)]="persona.password"
              required
            />
          </div>
          <input type="submit" value="Regístrarse" class="btn" />
          <p class="social-text">O Iniciar Sesión con la Plataforma Social</p>
          <div class="social-media">
            <a href="#" class="social-icon">
              <i class="fab fa-facebook"></i>
            </a>
            <a href="" class="social-icon">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="social-icon">
              <i class="fab fa-google"></i>
            </a>
            <a href="" class="social-icon">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </div>
          <p class="account-text">
            Already have an account? <a href="#" id="sign-in-btn2">Sign in</a>
          </p>
        </form>
      </div>
      <div class="panels-container">
        <div class="panel left-panel">
          <div class="content">
            <br /><br /><br />
            <h3>¿Ya tienes una cuenta en HealthTest?</h3>
            <p>Te ofrecemos Iniciar Sesión para acceder a nuestra página.</p>
            <button class="btn" id="sign-in-btn">
              Iniciar Sesión
              <div class="arrow-wrapper">
                <br />
                <div class="arrow"></div>
              </div>
            </button>
          </div>
          <img src="../../../assets/img/registar.png" alt="" class="image" />
        </div>
        <div class="panel right-panel">
          <div class="content">
            <br />
            <h3>¿Aún no tienes una cuenta en HealthTest?</h3>
            <p>Te invitamos a registrate para que puedas Iniciar Sesión.</p>
            <button
              class="btn"
              id="sign-up-btn"
              style="position: relative; right: -1em"
            >
              Regístrarse

              <div class="arrow-wrapper">
                <br />
                <div class="arrow"></div>
              </div>
            </button>
          </div>
          <img
            src="../../../assets/img/Computer login-bro.png"
            alt=""
            class="image"
          />
        </div>
      </div>
    </div>
  </body>
</html>
