<app-menuestres></app-menuestres>
<br />
<br />
<br /><br />
<section class="about" id="aboutestres">
  <h1 class="heading"><span> Cómo controlar</span> el estrés</h1>
  <div class="row">
    <div class="image">
      <img
        style="height: 30em"
        src="../../../assets/img/controlarestres.png"
        alt=""
      />
    </div>

    <div class="content">
      <p>
        Para manejar el estrés, es importante evaluar su bienestar físico, cómo
        interactúa con otros, sus objetivos y lo que considera valioso en la
        vida. Este texto brinda sugerencias útiles para enfrentar el estrés de
        manera más efectiva y hasta reducirlo.
      </p>
      <p>
        <strong>Identifique lo que le estresa </strong>
        “El hombre que tiene discernimiento mantendrá la calma”
      </p>
      <p>
        <strong>Lleve una vida ordenada </strong>
        “Háganlo todo de forma digna y ordenada”
      </p>
      <p>
        <strong>Lleve una vida equilibrada </strong>
        “Es mejor un puñado de descanso que dos puñados de trabajo duro y
        perseguir el viento”
      </p>
      <p>
        <strong>Cuide su salud </strong>
        “El ejercicio físico tiene algún beneficio”
      </p>
      <div class="card-footer">
        <a
          href="https://www.jw.org/es/biblioteca/revistas/despertad-2020-numero1-mar-abr/como-controlar-estres/"
          class="btn"
          target="_blank"
        >
          Leer más <span class="fas fa-chevron-right"></span>
        </a>
      </div>
    </div>
  </div>
</section>

<!-- about section ends -->
