<app-menudepresion></app-menudepresion>

<br /><br /><br />
<section class="about" id="about">
  <h1 class="heading"><span>SÍNTOMAS </span> DE DEPRESIÓN</h1>

  <div class="row">
    <div class="content">
      <br />
      <p>
        Es posible que hayas oído que llorar y sentir tristeza son indicios de
        depresión, pero ¿estabas al tanto de que también puede manifestarse en
        forma de irritabilidad, comportamiento agresivo e incluso dolor físico?
        Las señales de que podrías estar padeciendo de síntomas de depresión
        incluyen las siguientes:
      </p>
      <ul>
        <li>
          <p>
            Bajo estado de ánimo, presente en la mayoría de los días durante dos
            o más semanas
          </p>
        </li>
        <li>
          <p>
            Bajo estado de ánimo, presente en la mayoría de los días durante dos
            o más semanas
          </p>
        </li>
        <li>
          <p>Menos energía o sentimientos excesivos de cansancio</p>
        </li>
        <li>
          <p>Apatía no te interesa nada ni nadie</p>
        </li>
        <li>
          <p>Llantos excesivos</p>
        </li>
        <li>
          <p>Problemas con la alimentación comer demasiado o poco</p>
        </li>
        <li>
          <p>Autolesiones o pensamientos sobre autolesiones</p>
        </li>
      </ul>
    </div>
    <div class="image">
      <img src="../../../assets/img/DepressionSintomas.svg" alt="" />
    </div>
  </div>
</section>
