<app-menuestres></app-menuestres>
<br />
<br />
<br /><br />
<section class="about" id="aboutestres">
  <h1 class="heading"><span>¿Qué es el</span> Estrés?</h1>
  <div class="row">
    <div class="image">
      <img style="height: 30em" src="../../../assets/img/stress.svg" alt="" />
    </div>

    <div class="content">
      <p>
        El estrés es la incomodidad que sientes cuando estás preocupado,
        asustado, enojado, frustrado o abrumado. Es provocado por las emociones,
        pero también afecta tu estado de ánimo y tu cuerpo. Muchos adultos creen
        que los adolescentes no se estresan porque no tienen que trabajar y
        sostener una familia. ¡En realidad, no entienden la situación y están
        equivocados!
      </p>
      <p>
        El estrés es una respuesta natural del cuerpo ante situaciones
        percibidas como desafiantes o amenazantes. Esto Puede ser causado por
        eventos externos, como un trabajo exigente o problemas personales, o por
        pensamientos internos, como el miedo o la ansiedad.
      </p>
      <div class="card-footer">
        <a class="btn2">
          <span class="btn-text-one">Ver Video</span>
          <span class="btn-text-two">Aprendemos!</span>
        </a>
      </div>
    </div>
  </div>
</section>

<!-- about section ends -->
