<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="perfiluser.component.css" />

    <!--Icono-->
    <link
      rel="icon"
      type="image/x-icon"
      href="../../../assets/img/logpestañapryect.png"
    />
    <title>Paciente Panel</title>
  </head>
  <body>
    <div class="side-menu">
      <br />
      <div class="brand-name">
        <img
          style="width: 20em"
          src="../../../assets/img/logpestañapryect.png"
          alt=""
        />
      </div>
      <br />
      <br />
      <div class="titulo">
        <h1
          style="
            font-size: 4em;
            font-weight: bold;
            right: -2.2em;
            position: relative;
          "
        >
          <span> HealthTest</span>
        </h1>
      </div>
      <br />

      <ul>
        <li>
          <a href="#">
            <img
              width="40 em;"
              src="https://cdn-icons-png.flaticon.com/512/3015/3015458.png"
              alt=""
            />&nbsp;&nbsp;
            <span style="font-size: 1em; font-weight: bold">Home</span>
          </a>
        </li>
        <li style="height: 3em">
          <a href="#" style="top: 0.5em; position: relative">
            <img
              style="width: 2em; right: 4em"
              src="https://www.reshot.com/preview-assets/icons/P2HG7FN8CT/online-report-P2HG7FN8CT.svg"
            />&nbsp;
            <span
              style="
                font-size: 0.8em;
                font-weight: bold;
                top: -0.5em;
                right: -0.1em;
                position: relative;
              "
            >
              Reporte Test
            </span>
          </a>
        </li>
        <li>
          <a href="#" style="top: 0.5em; position: relative">
            <img
              style="width: 2em; right: 4em"
              src="https://www.reshot.com/preview-assets/icons/8H2QZ93G6J/student-profile-8H2QZ93G6J.svg"
            />&nbsp;
            <span
              style="
                font-size: 0.8em;
                font-weight: bold;
                top: -0.5em;
                right: -0.1em;
                position: relative;
              "
            >
              Editar Perfil
            </span>
          </a>
        </li>
        <li>
          <a href="#" style="top: 0.5em; position: relative">
            <img
              style="width: 2em; right: 4em"
              src="https://www.reshot.com/preview-assets/icons/U2VGMWYXFN/customer-service-U2VGMWYXFN.svg"
            />&nbsp;
            <span
              style="
                font-size: 0.8em;
                font-weight: bold;
                top: -0.5em;
                right: -0.1em;
                position: relative;
              "
            >
              Contáctanos
            </span>
          </a>
        </li>
      </ul>
    </div>
    <div class="container">
      <div class="header">
        <div class="nav">
          <div class="search">
            <input type="text" placeholder="Search.." />
            <button type="submit">
              <img
                src="https://cdn-icons-png.flaticon.com/512/4991/4991078.png"
                alt=""
              />
            </button>
          </div>
          <div class="user">
            <a href="#" class="btn">Add New</a>
            <img src="notifications.png" alt="" />
            <div class="img-case">
              <img src="user.png" alt="" />
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        <section class="home" id="home">
          <br />
          <div class="image">
            <img src="../../../assets/img/Logo3PrName.png" alt="" />
          </div>
          <h1 class="name">
            <span> Es muy bonito que estés de nuevo entre nosotros</span>
          </h1>
          <h4 class="name"><span>Bienvenido a HealthTest</span></h4>
          <h3 class="post">
            <span>Tipos de Tets: </span>
          </h3>
          <br />
          <div class="popup center">
            <div>
              <img
                style="width: 10em"
                src="https://cdn-icons-png.flaticon.com/512/3403/3403541.png"
              />
            </div>
            <div class="title">¡Empecemos!</div>

            <div class="description">
              <a href="#">
                <button class="continue-application">
                  <div>
                    <div class="pencil"></div>
                    <div class="folder">
                      <div class="top">
                        <svg viewBox="0 0 24 27">
                          <path
                            d="M1,0 L23,0 C23.5522847,-1.01453063e-16 24,0.44771525 24,1 L24,8.17157288 C24,8.70200585 23.7892863,9.21071368 23.4142136,9.58578644 L20.5857864,12.4142136 C20.2107137,12.7892863 20,13.2979941 20,13.8284271 L20,26 C20,26.5522847 19.5522847,27 19,27 L1,27 C0.44771525,27 6.76353751e-17,26.5522847 0,26 L0,1 C-6.76353751e-17,0.44771525 0.44771525,1.01453063e-16 1,0 Z"
                          ></path>
                        </svg>
                      </div>
                      <div class="paper"></div>
                    </div>
                  </div>
                  Realizar Test De Estrés
                </button>
              </a>
              <br /><br />
              <a href="#">
                <button class="continue-application">
                  <div>
                    <div class="pencil"></div>
                    <div class="folder">
                      <div class="top">
                        <svg viewBox="0 0 24 27">
                          <path
                            d="M1,0 L23,0 C23.5522847,-1.01453063e-16 24,0.44771525 24,1 L24,8.17157288 C24,8.70200585 23.7892863,9.21071368 23.4142136,9.58578644 L20.5857864,12.4142136 C20.2107137,12.7892863 20,13.2979941 20,13.8284271 L20,26 C20,26.5522847 19.5522847,27 19,27 L1,27 C0.44771525,27 6.76353751e-17,26.5522847 0,26 L0,1 C-6.76353751e-17,0.44771525 0.44771525,1.01453063e-16 1,0 Z"
                          ></path>
                        </svg>
                      </div>
                      <div class="paper"></div>
                    </div>
                  </div>
                  Realizar Test De Ansiedad
                </button>
              </a>
              <br /><br />
              <a href="#">
                <button class="continue-application">
                  <div>
                    <div class="pencil"></div>
                    <div class="folder">
                      <div class="top">
                        <svg viewBox="0 0 24 27">
                          <path
                            d="M1,0 L23,0 C23.5522847,-1.01453063e-16 24,0.44771525 24,1 L24,8.17157288 C24,8.70200585 23.7892863,9.21071368 23.4142136,9.58578644 L20.5857864,12.4142136 C20.2107137,12.7892863 20,13.2979941 20,13.8284271 L20,26 C20,26.5522847 19.5522847,27 19,27 L1,27 C0.44771525,27 6.76353751e-17,26.5522847 0,26 L0,1 C-6.76353751e-17,0.44771525 0.44771525,1.01453063e-16 1,0 Z"
                          ></path>
                        </svg>
                      </div>
                      <div class="paper"></div>
                    </div>
                  </div>
                  Realizar Test De Depresión
                </button>
              </a>
            </div>
            <div class="dismiss-btn">
              <button id="dismiss-popup-btn">&times;</button>
            </div>
          </div>
          <div class="button-borders">
            <a href="#"
              ><button class="primary-button" id="open-popup-btn">
                Visualizar Tests
              </button></a
            >
          </div>
        </section>
        <app-footer></app-footer>
      </div>

      <!-- boton del wassap -->
      <a
        href="https://api.whatsapp.com/send/?phone=593984772266&text=Hola%2C+%C2%BFc%C3%B3mo+podemos+ayudarte%3F+Env%C3%ADanos+un+mensaje+&type=phone_number&app_absent=0"
        class="btn-wsp"
        target="_blank"
      >
        <i class="fa fa-whatsapp icono"></i>
      </a>
      <!-- Fin del boton del wassap -->
    </div>
  </body>
</html>
