<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>HealthTest</title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- ========== Icono de la aplicacion========== -->
    <!-- ========== descarga el css de una pagina web de los card que desplazan y el blog ========== -->
  </head>

  <body>
    <app-menuestres></app-menuestres>

    <!-- home section starts  -->

    <section class="home" id="home">
      <div class="image">
        <img src="../../../assets/img/Onlinetestbro.svg" alt="" />
      </div>

      <div class="content">
        <h3>Realizar Test de Estrés</h3>
        <p>
          Realizar un test de estrés puede ser una excelente forma de conocer
          mejor tu nivel de estrés y cómo afecta a tu vida diaria. Te recomiendo
          que tomes unos minutos para completar el test con honestidad y
          atención. Los resultados te ayudarán a comprender mejor tus niveles de
          estrés y te brindarán herramientas útiles para manejarlos de manera
          efectiva.
          <strong
            >¡No te pierdas la oportunidad de conocerte mejor y de mejorar tu
            bienestar!</strong
          >
        </p>
        <br />
        <a href="#">
          <button class="continue-application">
            <div>
              <div class="pencil"></div>
              <div class="folder">
                <div class="top">
                  <svg viewBox="0 0 24 27">
                    <path
                      d="M1,0 L23,0 C23.5522847,-1.01453063e-16 24,0.44771525 24,1 L24,8.17157288 C24,8.70200585 23.7892863,9.21071368 23.4142136,9.58578644 L20.5857864,12.4142136 C20.2107137,12.7892863 20,13.2979941 20,13.8284271 L20,26 C20,26.5522847 19.5522847,27 19,27 L1,27 C0.44771525,27 6.76353751e-17,26.5522847 0,26 L0,1 C-6.76353751e-17,0.44771525 0.44771525,1.01453063e-16 1,0 Z"
                    ></path>
                  </svg>
                </div>
                <div class="paper"></div>
              </div>
            </div>
            Realizar Test De Estrés
          </button>
        </a>
      </div>
    </section>

    <!-- home section ends -->

    <!-- icons section starts  -->

    <section class="icons-container">
      <div class="icons">
        <img
          style="width: 5em"
          src="https://cdn-icons-png.flaticon.com/512/6751/6751991.png"
        />
        <h4 style="font-size: 1.5rem">“La mayor riqueza es la salud. ”</h4>
        <p>Virgilio</p>
      </div>

      <div class="icons">
        <img
          style="width: 5em"
          src="https://cdn-icons-png.flaticon.com/512/1534/1534999.png"
        />
        <h4 style="font-size: 1.5rem">
          "No importa qué tan lento vayas, siempre y cuando no te detengas."
        </h4>
        <p>Confucio</p>
      </div>

      <div class="icons">
        <img
          style="width: 5em"
          src="https://cdn-icons-png.flaticon.com/512/5120/5120718.png"
        />
        <h4 style="font-size: 1.5rem">
          " La paciencia es amarga, pero su fruto es dulce."
        </h4>
        <p>Rousseau</p>
      </div>

      <div class="icons">
        <img
          style="width: 5em"
          src="https://cdn-icons-png.flaticon.com/512/3281/3281380.png"
        />
        <h4 style="font-size: 1.5rem">
          "Si el plan no funciona, cambia el plan. No cambies la meta."
        </h4>
        <p>Susana Garcia</p>
      </div>
    </section>

    <!-- icons section ends -->

    <!-- about section starts  -->

    <app-testqueesestres></app-testqueesestres>

    <!-- about section ends -->

    <!-- services section starts  -->

    <app-estressintomas></app-estressintomas>
    <!-- services section ends -->

    <!-- icons section starts  -->

    <!-- review section starts  -->

    <!-- about section starts  -->

    <app-estresnosiempreesmalo></app-estresnosiempreesmalo>

    <!-- review section ends -->

    <!-- boton que desliza para arriba -->
    <span class="arriba bx bxs-up-arrow"></span>
    <!-- Fin del boton que desliza para arriba -->

    <!-- boton del wassap -->
    <a
      style="top: 13em; right: 0.2em"
      href="https://api.whatsapp.com/send/?phone=593984772266&text=Hola%2C+%C2%BFc%C3%B3mo+podemos+ayudarte%3F+Env%C3%ADanos+un+mensaje+&type=phone_number&app_absent=0"
      class="btn-wsp"
      target="_blank"
    >
      <i class="fa fa-whatsapp icono"></i>
    </a>
    <!-- Fin del boton del wassap -->
    <app-controlarestres></app-controlarestres>
    <!-- booking section starts   -->
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <app-blogestres></app-blogestres>
    <!-- booking section ends -->
    <app-footer></app-footer>

    <!-- footer section ends -->
  </body>
</html>
