<app-menuansiedad></app-menuansiedad>

<div class="case-studies-section wf-section">
  <div class="wrapper project-slider">
    <div
      data-delay="4000"
      data-animation="slide"
      class="project-slider w-slider"
      data-autoplay="false"
      data-easing="ease"
      data-hide-arrows="false"
      data-disable-swipe="false"
      data-autoplay-limit="0"
      data-nav-spacing="3"
      data-duration="500"
      data-infinite="true"
    >
      <div class="project-slider-mask w-slider-mask">
        <div class="project-slide w-slide">
          <div class="w-dyn-list">
            <div role="list" class="w-dyn-items">
              <div role="listitem" class="w-dyn-item">
                <a class="project-slide-link-block w-inline-block">
                  <div class="project-slider-image-wrapper">
                    <img
                      src="https://img.freepik.com/free-photo/frustrated-male-graphic-designer-office_1170-1039.jpg?t=st=1675789370~exp=1675789970~hmac=5403e34820cafafba34a4875070c962b7c9a638660ce0574b1effdfbe88a441d"
                      loading="lazy"
                      alt=""
                      sizes="(max-width: 479px) 90vw, (max-width: 767px) 363.578125px, (max-width: 991px) 366.4375px, (max-width: 1279px) 37vw, (max-width: 1439px) 34vw, 486px"
                      class="image"
                    />
                  </div>
                  <div class="project-slider-content">
                    <div class="project-slider-tags-wrapper">
                      <div class="project-slider-tag-text-wrapper">
                        <h6 class="project-slider-tag-text">
                          Síntomas del trastorno de ansiedad
                        </h6>
                      </div>
                      <div class="project-slider-tag-text-wrapper">
                        <h6
                          class="project-slider-tag-text w-dyn-bind-empty"
                        ></h6>
                      </div>
                    </div>
                    <div class="project-slider-heading-wrapper">
                      <h5 class="project-slider-heading">
                        Preocupación excesiva
                      </h5>
                    </div>
                    <div class="view-project-div">
                      <div class="text-block _18px">
                        El trastorno de ansiedad generalizada se caracteriza por
                        una preocupación excesiva e incontrolable relacionada
                        con situaciones cotidianas. Para ser diagnosticaado,
                        esta preocupación debe estar presente la mayoría de los
                        días durante al menos seis meses y ser grave e
                        intrusiva, afectando la vida diaria. Las personas
                        jóvenes, solteras, de bajos ingresos y con muchos
                        factores estresantes tienen un mayor riesgo de
                        desarrollar este trastorno.
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!--Inicio-->
        <div class="project-slide w-slide">
          <div class="w-dyn-list">
            <div role="list" class="w-dyn-items">
              <div role="listitem" class="w-dyn-item">
                <a class="project-slide-link-block w-inline-block">
                  <div class="project-slider-image-wrapper">
                    <img
                      src="https://img.freepik.com/free-photo/nervous-frightened-male-keeps-fists-near-mouth-has-worried-expression-stares-isolated-white-wall-axious-unshaven-young-man-feels-depressed-people-concern-concept_273609-16107.jpg?w=740&t=st=1675791341~exp=1675791941~hmac=ea291e34ac3556dddb6ec665f9f6dc1fdc2a493d486fa09c4eaafdac64446b5a"
                      loading="lazy"
                      alt=""
                      sizes="(max-width: 479px) 90vw, (max-width: 767px) 363.578125px, (max-width: 991px) 366.4375px, (max-width: 1279px) 37vw, (max-width: 1439px) 34vw, 486px"
                      class="image"
                    />
                  </div>
                  <div class="project-slider-content">
                    <div class="project-slider-tags-wrapper">
                      <div class="project-slider-tag-text-wrapper">
                        <h6 class="project-slider-tag-text">
                          síntomas del trastorno de ansiedad
                        </h6>
                      </div>
                    </div>
                    <div class="project-slider-heading-wrapper">
                      <h5 class="project-slider-heading">
                        Sentimientos de agitación
                      </h5>
                    </div>
                    <div class="view-project-div">
                      <div class="text-block _18px">
                        Cuando una persona experimenta ansiedad, su sistema
                        nervioso simpático se activa, lo que causa una serie de
                        reacciones físicas como un pulso acelerado, sudoración,
                        temblores y sequedad en la boca. Estos síntomas son una
                        respuesta automática del cerebro ante una percepción de
                        peligro, preparando al cuerpo para reaccionar con
                        rapidez. El cuerpo desvía la sangre hacia los músculos y
                        aumenta el ritmo cardíaco para estar preparado para huir
                        o pelear. Sin embargo, estos efectos pueden ser
                        debilitantes si la amenaza solo existe en la mente.
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!--fin-->
        <div class="project-slide w-slide">
          <div class="w-dyn-list">
            <div role="list" class="w-dyn-items">
              <div role="listitem" class="w-dyn-item">
                <a class="project-slide-link-block w-inline-block">
                  <div class="project-slider-image-wrapper">
                    <img
                      src="https://img.freepik.com/free-photo/alarmed-distressed-woman-trouble-tousle-hair_176420-16320.jpg?w=740&t=st=1675791745~exp=1675792345~hmac=19c5d1e65c62aaf9691636f5cf8deb9ec40fa43d5a6ad0c83062163a6c606b94"
                      loading="lazy"
                      alt=""
                      sizes="(max-width: 479px) 90vw, (max-width: 767px) 363.578125px, (max-width: 991px) 366.4375px, (max-width: 1279px) 37vw, (max-width: 1439px) 34vw, 486px"
                      class="image"
                    />
                  </div>
                  <div class="project-slider-content">
                    <div class="project-slider-tags-wrapper">
                      <div class="project-slider-tag-text-wrapper">
                        <h6 class="project-slider-tag-text">
                          síntomas del trastorno de ansiedad
                        </h6>
                      </div>
                      <div class="project-slider-tag-text-wrapper">
                        <h6
                          class="project-slider-tag-text w-dyn-bind-empty"
                        ></h6>
                      </div>
                    </div>
                    <div class="project-slider-heading-wrapper">
                      <h5 class="project-slider-heading">Intranquilidad</h5>
                    </div>
                    <div class="view-project-div">
                      <div class="text-block _18px">
                        La intranquilidad es un síntoma frecuente de la
                        ansiedad, especialmente en niños y adolescentes. Es una
                        sensación de inquietud o incómoda necesidad de moverse.
                        Un estudio con 128 niños con trastornos de ansiedad
                        encontró que el 74% informó experimentar intranquilidad
                        como uno de sus principales síntomas. Aunque no todas
                        las personas con ansiedad experimentan intranquilidad,
                        es un signo que los médicos suelen buscar al hacer un
                        diagnóstico. Si te sientes intranquilo la mayoría de los
                        días durante más de seis meses, puede ser un indicador
                        de un trastorno de ansiedad.
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="project-slide w-slide">
          <div class="w-dyn-list">
            <div role="list" class="w-dyn-items">
              <div role="listitem" class="w-dyn-item">
                <a>
                  <div class="project-slider-image-wrapper">
                    <img
                      src="https://img.freepik.com/free-photo/sad-woman-suffering-from-headache-sitting-bed-with-eyes-closed-while-holding-her-head-pain_637285-1503.jpg?w=740&t=st=1675792796~exp=1675793396~hmac=58aa8aac0f20552b08197ab6323cfcabe701d532112008f0fc3d61ae070f86d0"
                      loading="lazy"
                      alt=""
                      sizes="(max-width: 479px) 90vw, (max-width: 767px) 363.578125px, (max-width: 991px) 366.4375px, (max-width: 1279px) 37vw, (max-width: 1439px) 34vw, 486px"
                      class="image"
                    />
                  </div>
                  <div class="project-slider-content">
                    <div class="project-slider-tags-wrapper">
                      <div class="project-slider-tag-text-wrapper">
                        <h6 class="project-slider-tag-text">
                          síntomas del trastorno de ansiedad
                        </h6>
                      </div>
                    </div>
                    <div class="project-slider-heading-wrapper">
                      <h5 class="project-slider-heading">Fatiga</h5>
                    </div>
                    <div class="view-project-div">
                      <div class="text-block _18px">
                        La fatiga es un signo posible de la ansiedad
                        generalizada. Aunque la ansiedad se asocia a menudo con
                        la hiperactividad o la agitación, la fatiga también
                        puede ser un síntoma. En ocasiones, puede surgir después
                        de un episodio de ansiedad, y en otros casos puede ser
                        constante. No está claro si la fatiga es causada por
                        otros síntomas de ansiedad como la insomnio o la tensión
                        muscular, o por los efectos hormonales de la ansiedad
                        crónica. Es importante tener en cuenta que la fatiga
                        también puede ser un signo de depresión o de otras
                        afecciones médicas, por lo que no es suficiente para
                        hacer un diagnóstico de ansiedad.
                      </div>
                      <div class="view-project-arrow-wrapper">
                        <img
                          src="https://assets.website-files.com/5fef5619b640934b33c2385e/5ff019fc559a4200eda62273_Vector.svg"
                          loading="lazy"
                          alt=""
                          class="view-project-arrow"
                        />
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="project-slide w-slide">
          <div class="w-dyn-list">
            <div role="list" class="w-dyn-items">
              <div role="listitem" class="w-dyn-item">
                <a>
                  <div class="project-slider-image-wrapper">
                    <img
                      src="https://img.freepik.com/free-photo/man-with-beard-holding-quiz-paper-looks-confused-thoughtful_144627-57533.jpg?w=740&t=st=1675793158~exp=1675793758~hmac=dcf21cf1d0b766c7e5e532b07f9b119d58bbcb029106cf129acd4d178120e22d"
                      loading="lazy"
                      alt=""
                      sizes="(max-width: 479px) 90vw, (max-width: 767px) 363.578125px, (max-width: 991px) 366.4375px, (max-width: 1279px) 37vw, (max-width: 1439px) 34vw, 486px"
                      class="image"
                    />
                  </div>
                  <div class="project-slider-content">
                    <div class="project-slider-tags-wrapper">
                      <div class="project-slider-tag-text-wrapper">
                        <h6 class="project-slider-tag-text">
                          síntomas del trastorno de ansiedad
                        </h6>
                      </div>
                    </div>
                    <div class="project-slider-heading-wrapper">
                      <h5 class="project-slider-heading">
                        Dificultad para concentrarse
                      </h5>
                    </div>
                    <div class="view-project-div">
                      <div class="text-block _18px">
                        Algunas investigaciones indican que la ansiedad puede
                        tener un efecto negativo en la memoria funcional, que es
                        la capacidad de retener información temporal. Esto
                        podría ser la razón detrás de la disminución notoria en
                        el rendimiento que muchas personas experimentan cuando
                        están muy ansiosos.
                      </div>
                      <div class="view-project-arrow-wrapper">
                        <img
                          src="https://assets.website-files.com/5fef5619b640934b33c2385e/5ff019fc559a4200eda62273_Vector.svg"
                          loading="lazy"
                          alt=""
                          class="view-project-arrow"
                        />
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="project-slide w-slide">
          <div class="w-dyn-list">
            <div role="list" class="w-dyn-items">
              <div role="listitem" class="w-dyn-item">
                <a>
                  <div class="project-slider-image-wrapper">
                    <img
                      src="https://img.freepik.com/free-photo/close-up-man-rubbing-his-painful-back-isolated-white-background_1150-2935.jpg?w=740&t=st=1675793894~exp=1675794494~hmac=31004a6a9920c0e634a6dfba24c281ffc2a989b0c890553f2a8cde7237871460"
                      loading="lazy"
                      alt=""
                      sizes="(max-width: 479px) 90vw, (max-width: 767px) 363.578125px, (max-width: 991px) 366.4375px, (max-width: 1279px) 37vw, (max-width: 1439px) 34vw, 486px"
                      class="image"
                    />
                  </div>
                  <div class="project-slider-content">
                    <div class="project-slider-tags-wrapper">
                      <div class="project-slider-tag-text-wrapper">
                        <h6 class="project-slider-tag-text">
                          síntomas del trastorno de ansiedad
                        </h6>
                      </div>
                    </div>
                    <div class="project-slider-heading-wrapper">
                      <h5 class="project-slider-heading">Músculos tensos</h5>
                    </div>
                    <div class="view-project-div">
                      <div class="text-block _18px">
                        Es difícil determinar si la tensión muscular es una
                        causa o un efecto de la ansiedad, o si ambos son
                        resultado de un tercer factor. Sin embargo, tratar la
                        tensión muscular mediante terapia de relajación ha
                        demostrado ser efectivo en reducir la ansiedad en
                        personas con trastorno de ansiedad generalizada, y en
                        algunos casos, ha demostrado ser tan efectivo como la
                        terapia cognitivo conductual.
                      </div>
                      <div class="view-project-arrow-wrapper">
                        <img
                          src="https://assets.website-files.com/5fef5619b640934b33c2385e/5ff019fc559a4200eda62273_Vector.svg"
                          loading="lazy"
                          alt=""
                          class="view-project-arrow"
                        />
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="project-slider-left-arrow w-slider-arrow-left">
        <div class="project-slider-arrow-icon-wrapper">
          <img
            src="https://assets.website-files.com/5fef5619b640934b33c2385e/5fef584b6f3b7d0fb04e725e_Vector-4.svg"
            loading="lazy"
            alt=""
            class="image contain"
          />
        </div>
      </div>
      <div class="project-slider-right-arrow w-slider-arrow-right">
        <div class="project-slider-arrow-icon-wrapper">
          <img
            src="https://assets.website-files.com/5fef5619b640934b33c2385e/5fef584a07453d08e05572b5_Vector-3.svg"
            loading="lazy"
            alt=""
            class="image contain"
          />
        </div>
      </div>
      <div class="project-slider-nav w-slider-nav w-round"></div>
    </div>
  </div>
</div>
